{% load static %} {% load custom_tags %}
<div class="m-2">
  <div class="relative w-full max-w-sm mx-auto bg-base-300 card-article-border" style="border-radius: var(--rounded-btn, 0.5rem/* 8px */);">
    <div class="relative inline-block w-full transition-transform duration-300 ease-in-out transform">
      <div class="rounded-lg">
        <div class="relative flex h-60 justify-center overflow-hidden card-article-border">
          <div class="w-full transform transition-transform duration-500 ease-in-out hover:scale-110">
            {% if img %}
              <img src="{% static img %}" alt="{{name}}" />
            {% else %}
              <img src="{% static 'img/generic_stock.png' %}" alt="stock" />
            {% endif %}
          </div>
          <span class="absolute left-0 top-0 z-10 ml-3 mt-3 inline-flex py-1 px-3 select-none text-sm font-medium rounded-full bg-base-200" title="ID"> 
            {{id}}
          </span>
          <div class="absolute bottom-0 mb-3 flex justify-center">
            <div class="flex space-x-5 overflow-hidden btn btn-xs bg-base-200 cursor-default px-4 py-1 shadow ">
              <p class="flex items-center font-medium ">
                {{name}}
              </p>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-3 py-3 border-t border-base-content px-2">
          <div class="flex items-center">
            <p class="mt-2 text-sm line-clamp-1" title="Buy price">{{buy_price}}</p>
          </div>
          <div class="flex items-center justify-center">
            <p class="mt-2 text-sm line-clamp-1" title="Increase">{{increase}}</p>
          </div>
          <div class="flex items-center justify-end">
            <p class="inline-block font-semibold leading-tight break-words rounded-xl">
              <span class="text-sm uppercase"> $ </span>
              <span class="text-lg" title="Sell price">
                {{sell_price}}
              </span>
            </p>
          </div>
        </div>
        <div class="relative grid grid-cols-2 grid-rows-2 gap-4 py-3 break-words border-t border-b border-base-content">
          {% for category in categories %}
            {% with object.characteristics_id.all|filter_by_category:category as values %}
              {% if values %}
                <p class="flex items-center xl:flex-row xl:items-center text-ellipsis px-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                  <span class="mt-0 px-1">{{category.name}}</span>
                </p>
                {% for value in values %}
                  <p class="flex items-center xl:flex-row xl:items-center text-ellipsis px-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg>
                    <span class="mt-0 px-1">{{value.name}}</span>
                  </p>
                {% endfor %}
              {% endif %} 
            {% endwith %} 
          {% endfor %}
          <span class="absolute bottom-0 right-0 btn btn-xs bg-base-content hover:bg-base-content text-base-100 cursor-default font-medium p-1 m-1 {% if stock == 0 %} text-error {% endif %}" title="Stock">
            {{stock}}
          </span>
        </div>
        <div class="flex items-center justify-around w-full p-3  bottom-0">
          {% button type="warning" url='articles:update' id=id border="False" text="Editar" %} 
          {% button type="danger" url='articles:delete' id=id border="False" text="Eliminar" object_type="article" object_name=name csrf_token=csrf_token%}
        </div>
      </div>
    </div>
  </div>
  
</div>
