{% load static %}
{% load i18n %}
<div class="m-2">
  <div class="relative mx-auto w-full max-w-sm bg-base-200" style="border-radius: var(--rounded-btn, 0.5rem/* 8px */);">
    <div class="relative inline-block w-full transform transition-transform duration-300 ease-in-out">
      <div class="rounded-lg">
        <div class="px-2 p-4">
          <div class="flex items-center justify-between pb-3">
              <div class="flex items-center justify-center">
                <svg class="mr-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                <h2 class="line-clamp-1 text-base font-medium md:text-lg" title="{% translate 'Name' %}"><b>{{name}}</b></h2>
              </div>
              <span class="z-10 ml-3 inline-flex py-1 px-3 select-none text-sm font-medium rounded-full bg-base-100" title="ID"> 
                {{id}}
              </span>
          </div>
          <div class="flex items-center justify-between">
              <p class="mt-2 line-clamp-1 text-sm" title="{% translate 'Phone number' %}">Tel. {{phone_number}}</p>
              <p class="inline-block break-words rounded-xl font-semibold leading-tight" title="{% translate 'Total Purchased' %}">
                <span class="text-sm uppercase"> $ </span>
                <span class="text-lg">{{total_purchased}}</span>
              </p>
          </div>
        </div>
        <div class="relative grid grid-cols-2 gap-4 py-3 break-words border-t border-base-content">
          <p class="flex items-center xl:flex-row xl:items-center text-ellipsis px-2" title="{% translate 'Address' %}">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            {% if address %}<span class="xl:mt-0">{{address}}</span>{% else %}<span>-</span>{% endif %}
          </p>
          <p class="flex items-center xl:flex-row xl:items-center text-ellipsis px-2" title="{% translate 'Dni' %}">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
            {% if dni %}<span class="mt-0">{{dni}}</span>{% else %}<span class="mt-0">-</span>{% endif %}
          </p>
        </div>
        <div class="relative grid border-b border-base-content">
          <p class="flex items-center xl:flex-row xl:items-center text-ellipsis px-2" title="{% translate 'Email' %}">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
            {% if email %}<span class="mt-0">{{email}}</span>{% else %}-{% endif %}
          </p>
        </div>
        <div class="border-base-content py-3 w-full flex justify-around items-center">
          {% button type="warning" url='customers:update' id=id border="False" text="Editar" %}
          {% button type="danger" url='customers:delete' id=id border="False" text="Eliminar" object_type="customer" object_name=name csrf_token=csrf_token%}
        </div>
      </div>
    </div>
  </div>
</div>

