{% load static %}
<div class="relative w-full max-w-sm mx-auto">
  <div  class="relative inline-block w-full transition-transform duration-300 ease-in-out transform">
    <div class="rounded-lg">
      <div class="flex justify-between">
        <div class="p-1 min-w-8 rounded-xl" title="ID">
          <span>{{id}}</span>
        </div>
        <div class="left-0 p-1 rounded-full" title="Status">
          {% if delivery_status == True %}
            <span class="text-green-500"><b>Done</b></span>
          {% elif delivery_status == False %}
            <span class="text-red-500"><b>Canceled</b></span>
          {% else %}
          <span class="text-blue-500"><b>Pending</b></span>
          {% endif %}
        </div>
      </div>
      <div class="grid grid-cols-2 py-3 border-t border-gray-200 ">
        <div class="flex items-center">
          <div class="relative">
            <h2 class="text-base font-medium text-gray-800 line-clamp-1 md:text-lg"><b>{{name}}</b></h2>
            <p class="mt-2 text-sm text-gray-800 line-clamp-1">Tel. {{phone_number}}</p>
          </div>
        </div>
        <div class="flex items-center justify-end">
          <p class="inline-block font-semibold leading-tight break-words text-primary rounded-xl">
            <span class="text-sm uppercase"> $ </span>
            <span class="text-lg" title="Total amount to pay">{{total_pay}}</span>
          </p>
        </div>
      </div>
      <div class="relative grid grid-cols-2 grid-rows-2 gap-4 py-3 break-words border-t border-b border-gray-200">
        {% for article in articles_cart %}
          <p class="flex items-center text-gray-800 xl:flex-row xl:items-center text-ellipsis">
              <img width="24" height="24" src="https://img.icons8.com/fluency-systems-regular/48/arrow.png" alt="arrow"/>
              <span class="mt-0">{{article}}</span>
          </p> 
        {% endfor %}
        <span class="absolute bottom-0 right-0 py-3 px3" title="Articles quantity">{{article_quantity}}</span>
      </div>
      <div class="flex items-center justify-around w-full py-3 border-b border-gray-200">
        {{details}}
      </div>
      <div class="flex items-center justify-around w-full p-3 border-b border-gray-200 ">
        {% button type="warning" url='orders:update' id=id border="False" text="Editar" %}
        {% button type="danger" url='orders:delete' id=id border="False" text="Eliminar" object_type="order" object_name=name %}
      </div>
    </div>
  </div>
</div>