{% if type == "primary" %}
    {% var class="bg-primary-100 text-primary-700" %}
{% elif type == "secondary" %}
    {% var class="bg-secondary-100 text-secondary-700" %}
{% elif type == "success" %}
    {% var class="bg-success-100 text-success-700" %} 
{% elif type == "danger" %} 
    {% var class="bg-danger-100 text-danger-700" %}
{% elif type == "warning" %}
    {% var class="bg-warning-100 text-warning-700" %} 
{% elif type == "info" %} 
    {% var class="bg-info-100 text-info-700" %}
{% elif type == "light" %} 
    {% var class="bg-light-100 text-light-700" %}
{% elif type == "dark" %} 
    {% var class="bg-dark-100 text-dark-700" %}
{% endif %}  

<div
  class="m-4 rounded-lg  px-6 py-5 text-base {{class}} vanish"
  role="alert">
  {{children}}
</div>