<div class="flex flex-col">
    <!-- Card Sextion Starts Here -->
    <div class="flex flex-1 flex-col lg:flex-row">
        {% if type == "full" %}
            <div class="m-2 border-solid border-gray-300 rounded border shadow-sm w-full">
                {% if heading %}
                    <div class="bg-gray-200 px-3 py-3 border-solid border-gray-200 border-b">
                        {{heading}}
                    </div>
                    <div class="p-3">
                        {{children}}
                    </div>
                {% else %}
                    <div class="p-3">
                        {{children}}
                    </div>
                {% endif %}
            </div>
        {% elif type == "cols" %}
            {{children}}
        {% elif type == "cols-responsive" %}
            <div class="grid max-sm:grid-cols-1 max-md:grid-cols-2 max-lg:grid-cols-3 lg:grid-cols-4 w-full">
                {{children}}
            </div>
        {% endif %}
    </div>
</div>