{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}
{% block title %}
    {% trans "Sign In" %}
{% endblock title %}
{% block base_head %}
{% endblock base_head %}
{% block base_content %}
    <div class="w-full flex flex-wrap">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex justify-center items-center">

            {% #block_center %}

                <div class="flex flex-col w-full border-opacity-50">
    
                    {% #block_card class="h-24" %}
                        {% if socialaccount_providers %}
                            <div class="socialaccount_ballot">
                                <ul class="socialaccount_providers">
                                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                </ul>
                            </div>
                            {% include "socialaccount/snippets/login_extra.html" %}
                        {% else %}
                            <p>
                                {% blocktrans %}If you have not created an account yet, then please
                                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
                            </p>
                        {% endif %}
                    {% /block_card %}
    
                    <div class="divider">{% trans 'OR' %}</div>
    
                    {% #block_card class="h-72" %}
                        <form class="login" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {% form_field label=form.login.label id=form.login.id_for_label first="True" name="login" autocomplete="email" type="text" %}
                            {% form_error errors=form.login.errors %}
                            {% form_field label=form.password.label id=form.password.id_for_label name="password" autocomplete="current-password" type="password" %}
                            {% form_error errors=form.password.errors %}
    
                            <div class="form-control py-0">
                                <label class="label cursor-pointer mx-3">
                                    <span class="label-text ">{{ form.remember.label }}</span>
                                    <input id="{{ form.remember.label }}" type="checkbox" checked="checked" class="checkbox" />
                                </label>
                            </div>
    
                            {% if form.errors %}
                                {% for error in form.non_field_errors %}<p class="p-0 m-0 text-error text-xs">{{ error }}</p>{% endfor %}
                            {% endif %}
    
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            
                            <div class="form-control py-0">
                                <div class="flex items-center justify-between ">
                                    <a class="button secondaryAction text-sm mx-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                    <button class="btn btn-ghost" type="submit">{% trans "Sign In" %}</button>
                                </div>
                            </div>
                        </form>
                    {% /block_card %}
                </div>

            {% /block_center %}

        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="{% static 'img/fondo-login.webp' %}">
        </div>
    </div>
{% endblock base_content %}
