{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block base_head %}
  <style>
    @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
    .font-family-karla {
        font-family: karla;
    }
  </style>
{% endblock base_head %}
{% block title %}{% trans "Signup" %}{% endblock title %}
{% block base_content %}
{% trans 'Sign Up' as signup %}
<body class="font-family-karla h-screen bg-[#edf2f7]">
  <div class="w-full flex flex-wrap">
      
      <!-- Image Section -->
      <div class="w-1/2 shadow-2xl">
        <img class="object-cover w-full h-screen hidden md:block" src="{% static 'img/fondo-signup.webp' %}">
      </div>
      <!-- Login Section -->
      <div class="w-full md:w-1/2 flex flex-col">
          <div class="flex justify-center md:hidden pt-12 md:pl-12 md:-mb-24">
              <img src="{% static '/img/elcanarioregionales-logo-160x160.png' %}" alt="El Canario Regionales Logo">
          </div>

          <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
              <p class="text-center text-3xl">{% trans 'Welcome.' %}</p>
              <form action="{% url 'account_signup' %}" method="POST" class="flex flex-col pt-3 md:pt-8">
                  {% csrf_token %}

                  <div class="flex flex-col pt-4">
                      <label for="{{form.username.id_for_label}}" class="text-lg">{{form.username.label}}</label>
                      <input type="text" name="email" id="{{form.username.id_for_label}}" placeholder="{{form.username.label}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                  </div>

                  {% form_error errors=form.username.errors %}
  
                  <div class="flex flex-col pt-0">
                      <label for="{{form.email.id_for_label}}" class="text-lg">{{form.email.label}}</label>
                      <input type="email" name="{{form.email.label|lower}}" id="{{form.email.id_for_label}}"placeholder="{{form.email.label}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                  </div>

                  {% form_error errors=form.email.errors %}

                  <div class="flex flex-col pt-0">
                      <label for="{{form.password1.id_for_label}}" class="text-lg">{{form.password1.label}}</label>
                      <input type="password" name="{{form.password1.label|lower}}" id="{{form.password1.id_for_label}}"placeholder="{{form.password1.label}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                  </div>

                  {% form_error errors=form.password1.errors %}

                  <div class="flex flex-col pt-0">
                      <label for="{{form.password2.id_for_label}}" class="text-lg">{{form.password2.label}}</label>
                      <input type="password" name="{{form.password2.label|lower}}" id="{{form.password2.id_for_label}}"placeholder="{{form.password2.label}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                  </div>

                  {% form_error errors=form.password2.errors %}

                  <input type="submit" value="{{signup}}" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 cursor-pointer">
              </form>
              <div class="text-center pt-12 pb-12">
                  <p>{% trans "Already have an account?" %} <a href="{% url 'account_login' %}" class="underline font-semibold">{% trans 'Log In' %}</a></p>
              </div>
          </div>
      </div>
  </div>
</body>
{% endblock base_content %}