/* .appear-vanish {
  animation: appearAndVanish 4s;
  animation-fill-mode: forwards;
}

@keyframes appearAndVanish {
  0% {
    opacity: 0;
    height: 0%;
  }
  25% {
    opacity: 1;
    height: 100%;
  }
  75% {
    opacity: 1;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
} */
ion-icon {
  pointer-events: none;
}
.vanish {
  animation: fadeout 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}
.appear {
  animation: fadein 1s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

