<div id="articles_search_datatype">
    {% load custom_tags %}
    {% get_all_categories as categories %}

    {% include 'articles_search_header.html' %}
    <div id="articles_search_data">
        <div class="w-[90%] mx-auto bg-gradient-to-tr from-amber-300 to-amber-100 rounded-md border-2 p-4 m-8 shadow-slate-600 shadow-sm border-separate border-amber-100">
            {% if article_list.count > 0 %}
                <output class="font-bold empty:hidden cursor-default appear text-green-600" type="text">Number of articles found: <b>{{ article_list.count }}</b>.</output>
            {% else %}
                <output class="font-bold empty:hidden cursor-default appear text-red-600" type="text">No items were found with values in the selected category</b>.</output>
            {% endif %}
        </div>
        {% include 'articles_table.html' %}
    </div>
</div>
