{% extends 'base_home.html' %}
{% load i18n %}
{% block title_section %}
    <title>{% translate 'Search Articles' %} - Canario Regionales</title>
{% endblock title_section %}
{% block title_section_content_upper %}
    {% translate 'Search articles' %}:
{% endblock title_section_content_upper %}
{% block section_content_upper %}
    {% include 'articles_search_header.html' %}
{% endblock section_content_upper %}
{% block title_section_content_under %}
    <div class="flex items-center justify-between pb-3 text-xl">
        <!-- Latest Reports -->
        <div class="flex items-center pb-3 px-3 text-xl">
            <span>{% translate 'Articles List' %}</span>
        </div>
        <div class="text-base flex gap-2">
            {% button type="info" url='articles:categories' border="False" text="Categories" %}
            {% button type="success" url='articles:create' border="False" text="Create Article" %}
        </div>
    </div>
{% endblock title_section_content_under %}

{% block section_content_under %}
    {% include 'articles_table.html' %}
{% endblock section_content_under %}

