
{% extends 'base_home.html' %}
{% load i18n %}
{% load static %}
{% block title_section %}
    <title>{% translate 'Create Article -El Canario Regionales' %}</title>
{% endblock title_section %}

{% block title_section_content_upper %}
    <h1 class="text-3xl">{% translate 'Search Articles' %}:</h1>
{% endblock title_section_content_upper %}
{% block section_content_upper %}
    {% include 'articles_search_header.html'%}
{% endblock section_content_upper %}

{% block title_section_content_under %}
    <div class="text-xl pb-3 flex items-center justify-between">
        <!-- Latest Reports -->
        <div class="text-xl pb-3 flex items-center">
            <i class="fas fa-list mr-3"></i>
            <span>{% translate 'Update Article Section' %}</span>
        </div>
    </div>
{% endblock title_section_content_under %}
{% block section_content_under %}

    {% #section type="full" %}
        {% translate "Update Article" as title %}
        <div class="mx-auto max-w-md" id="article_update_answer">
            {% var url="orders:create" %}
            {% var object_type="order" %}
            {% var title=title %}
            {% var form=form %}
            {% var request=request %}
            {% var action="create" %}
            {% include 'articles_update_table.html' %}
        </div>

    {% /section %}
{% endblock section_content_under %}
