
{% extends './header.html' %}

{% block content_two %}
    <h1>Buscar Productos:</h1>
    <table class="table-auto bg-red-300">
        {% if articles_all %}
            <output class="bg-red-400" type="text" name="articles_output">Hay {{articles_all.count}} artículos en la Base de datos.</output>
            <thead class="p-3 m-3">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Color</th>
                    <th>Material</th>
                    <th>Talle</th>
                    <th>Precio de Compra</th>
                    <th>Incremento</th>
                    <th>Precio de Venta</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles_all %}
                
                    <tr>
                        <td>{{article.id}}</td>
                        <td>{{article.article_name}}</td>
                        <td>{{article.category_id}}</td>
                        <td>{{article.color_id}}</td>
                        <td>{{article.material_id}}</td>
                        <td>{{article.size_id}}</td>
                        <td>{{article.buy_price}}</td>
                        <td>{{article.increase}}</td>
                        <td>{{article.sell_price}}</td>
                    </tr>
                {% endfor %} 
            </tbody>        
        {% else %}
            <p>{{ answer_all }}</p>
        {% endif %}
    <form action="/articles/search" method="GET">
        <div class="bg-amber-800 p-3 m-3">
            <input type="text" name="article_input">
            <input class="bg-orange-600 hover:bg-red-700" type="submit" value="Buscar">
        </div>
        {% if articles %}
            <output class="bg-red-400" type="text" name="articles_output">Se está buscando: {{query_search}}</output><br>
            <output class="bg-red-400" type="text" name="articles_output">Se encontraron {{articles.count}} artículos.</output>
            <thead class="p-3 m-3">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Color</th>
                    <th>Material</th>
                    <th>Talle</th>
                    <th>Precio de Compra</th>
                    <th>Incremento</th>
                    <th>Precio de Venta</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{article.id}}</td>
                        <td>{{article.article_name}}</td>
                        <td>{{article.category_id}}</td>
                        <td>{{article.color_id}}</td>
                        <td>{{article.material_id}}</td>
                        <td>{{article.size_id}}</td>
                        <td>{{article.buy_price}}</td>
                        <td>{{article.increase}}</td>
                        <td>{{article.sell_price}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <p>{{ answer_search }} {{ query_search }}</p>
        {% endif %}
        
    </form>
    </table>
{% endblock %}
