<!DOCTYPE html>
{% load pwa %}
{% progressive_web_app_meta %}
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLES -->
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/transitions.js' %}"></script>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.8.6" integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx" crossorigin="anonymous"></script>
    <!-- IONICONS --> 
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% block title %}{% endblock title %}
</head>
<body class="bg-cover bg-center bg-gradient-to-tr from-amber-100 to-amber-50 min-h-full min-w-full {% if request.path != '/' %} max-sm:pt-[5%] sm:pt-[25%] md:pt-[20%] lg:pt-[15%]{% endif %}"> 
    {% block content %}{% endblock content %}
</body>
</html>


