{% extends './header.html' %}
{% load static %}
{% block head_two %}
    <title>Categorías - Canario Regionales</title>
{% endblock %}
{% block content_two %}

<div id="categories_table">
    <div class="flex flex-col md:flex-row" >
        <div class="w-full md:w-1/2 bg-gradient-to-tr from-amber-300 to-amber-100 rounded-md  border-2 p-4 m-8 shadow-slate-600 shadow-sm border-separate border-amber-100">
            <div class=" bg-gradient-to-tr from-amber-300 to-amber-100 rounded-md  border-2 p-4 m-8 shadow-slate-600 shadow-sm border-separate border-amber-100">
                (text-input para el nombre de la categoría alineado a la izquierda)
                <form action="">
                    <button  ion-button icon-only type="submit">
                        <ion-icon title="Crear Artículo" class="text-amber-50 rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 py-2 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer" name="add-circle-outline"></ion-icon>
                    </button>
                </form>
            </div>

            <!-- Contenido de la primera columna -->
            <!-- Primera columna debe contener una lista de todas las categorías -->
            {% if categories %}

                <table class="table-auto overflow-x-auto font-mono text-red-900  shadow-slate-600 shadow-sm bg-amber-200 border-separate border-2 border-amber-100 rounded-md p-4 m-8">

                    <thead class="p-3 m-3">
                        <tr class="bg-amber-300">
                            <th class="m-4">Id</th>
                            <th class="m-4">Nombre</th>
                            <th class="m-4">Comandos</th>
                        </tr>
                    </thead>
                    <tbody class="bg-amber-100">
                    {% for category in categories %}
                        <tr>
                            <td class="m-4 px-12">{{category.id}}</td>
                            <td class="m-4 px-12">{{category.name}}</td>
                            <td class="m-4 px-12">
                                Botones para actualizar y eliminar
                            </td>
                        </tr>
                        
                    {% endfor %}
                    </tbody>

                </table>
            
            {% endif %}
        </div>
        <div class="w-full md:w-1/2 bg-gradient-to-tr from-amber-300 to-amber-100 rounded-md  border-2 p-4 m-8 shadow-slate-600 shadow-sm border-separate border-amber-100">
            BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
            <!-- Contenido de la segunda columna -->
        </div>
    </div>
</div>
<div id="categories_table" class="overflow-x-auto">
    <div id="contenedor-1" class="md:flex md:justify-center">
        <div id="contenedor-1.1" class="md:w-1/2">
            <div id="contenedor-1.1-head" class="flex justify-center items-center space-x-4">
                <input type="text" id="input-crear-categoria" class="w-full">
                <button id="boton-crear-categoria">Crear</button>
            </div>
            <table id="contenedor-1.1-body" class="w-full table-auto">
                <thead>
                    <tr>
                        <th class="m-4 px-12">Id</th>
                        <th class="m-4 px-12">Nombre</th>
                        <th class="m-4 px-12">Comandos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="m-4">{{category.id}}</td>
                        <td class="m-4">{{category.name}}</td>
                        <td class="m-4">
                            <button id="boton-borrar-categoria">Borrar</button>
                            <button id="boton-actualizar-categoria">Actualizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="contenedor-1.2" class="md:w-1/2">
            <div id="titulo-categoria-seleccionada">
                <h1>titulo categoria</h1>
            </div>
            <table class="w-full table-auto">
                <thead>
                    <tr>
                        <th class="m-4 px-12">Id</th>
                        <th class="m-4 px-12">Nombre</th>
                        <th class="m-4 px-12">Comandos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="m-4">{{value.id}}</td>
                        <td class="m-4">{{value.name}}</td>
                        <td class="m-4">
                            <button id="boton-borrar-valor">Borrar</button>
                            <button id="boton-actualizar-valor">Actualizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

