{% extends 'base_home.html' %}
{% load i18n %}
{% block title_section %}
    <title>{% translate 'Categories' %} - Canario Regionales</title>
{% endblock title_section %}
{% block title_section_content_upper %}
    {% translate 'Search articles' %}
{% endblock title_section_content_upper %}
{% block section_content_upper %}
    {% include 'articles_search_header.html' %}
{% endblock section_content_upper %}
{% block title_section_content_under %}
<div class="flex items-center justify-between pb-3 text-xl">
    <!-- Latest Reports -->
    <div class="flex items-center pb-3 text-xl px-2">
        <span>{% translate 'Categories & Values' %}</span>
    </div>
</div>
{% endblock title_section_content_under %}

{% block section_content_under %}
    <section id="articles_category_value_section">
        {% include 'categories_table.html' %}
    </section>
{% endblock section_content_under %}
