{% extends 'footer.html' %}
{% load static %}
    {% block head_one %}
        <head>
            {% block head_two %}{% endblock %}
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
            
        </head>
    {% endblock %}

    {% block content_one %}
        <form action="{% url 'home' %}">
            <input type="submit" value="Volver">
        </form>
        <!-- text-sm font-mono text-amber-50 font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 -->
        <body class="bg-cover bg-center" style="background-image: url('{% static 'static/img/smoke-bg.png' %}')">
            <div class="bg-gradient-to-tr from-amber-300 to-amber-100 rounded-md  border-2 p-4 m-8">
                <ul class="flex justify-around bg-center p-2">
                    <li class="">
                        <form action="{% url 'orders' %}">
                            <!-- <input class="invisible" style="display: none;" type="text" name="first_time_orders" value="1"> -->
                            <input class="text-lg font-mono text-amber-50 font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-12 py-4 shadow-md shadow-slate-800 transition ease-in-out  hover:-translate-y-1 hover:scale-110 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer" type="submit" value="Pedidos" />
                        </form>
                    </li>
                    <li class="">
                        <form action="{% url 'articles' %}">
                            <input class="invisible" style="display: none;" type="text" name="first_time_articles" value="1">
                            <input class="text-lg font-mono text-amber-50 font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-12 py-4 shadow-md shadow-slate-800 transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer" type="submit" value="Artículos">
                        </form>
                    </li>
                        <form action="{% url 'customers' %}">
                            <!-- <input class="invisible" style="display: none;" type="text" name="first_time_customers" value="1"> -->
                            <input class="text-lg font-mono text-amber-50 font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-12 py-4 shadow-md shadow-slate-800 transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-150 hover:shadow-xl hover:shadow-slate-400 cursor-pointer" type="submit" value="Clientes">
                        </form>
                    </li>
                </ul>
            </div>
            {% block content_two %}{% endblock %}
        </body>
    {% endblock %}
<!-- Este bloque corresponde al block content de las plantillas que heredan el header.html -->



