<nav class="top-0 w-full fixed flex justify-evenly items-center mx-auto bg-gradient-to-tr from-amber-300 to-amber-100 rounded-b-xl min-h-[8rem] mb-24 border-2 shadow-slate-600 shadow-sm border-separate border-amber-100 max-sm:hidden z-1">
    {% if user.is_authenticated %}
        {% load custom_tags %}
        {% load static %}
        {% get_user_picture user as user_picture %}
        {% if user_picture %}
            <picture class="absolute w-[15%] min-w-[15%] h-full left-0 z-2" >
                <img class="absolute bottom-0 left-[50%] rounded-full w-[180px] h-[180px] max-w-[180px] max-h-[180px] bg-amber-100 z-3" style="transform: translateX(-50%) translateY(50%);" src="{{user_picture}}" alt="{{ user.username }}'s Profile Picture">
                <div class="absolute bottom-0 left-[50%] rounded-full w-[200px] h-[200px] bg-amber-300 border-2 shadow-slate-600 shadow-sm border-amber-100 -z-10 mitad-superior-transparente" style="transform: translateX(-50%) translateY(50%);"></div>
            </picture>
        {% else %}
            <picture class="absolute w-[15%] min-w-[15%] h-full left-0 z-2" >
                <img class="absolute bottom-0 left-[50%] rounded-full w-[180px] h-[180px] max-w-[180px] max-h-[180px] bg-amber-100 z-3" style="transform: translateX(-50%) translateY(50%);" src="{% static 'img/elcanarioregionales-logo-160x160.png' %}" alt="{{ user.username }}'s Profile Picture">
                <div class="absolute bottom-0 left-[50%] rounded-full w-[200px] h-[200px] bg-amber-300 border-2 shadow-slate-600 shadow-sm border-amber-100 -z-10 mitad-superior-transparente" style="transform: translateX(-50%) translateY(50%);"></div>
            </picture>
        {% endif %}

    {% else %}
        <picture class="absolute w-[15%] min-w-[15%] h-full left-0 z-2" >
            <img class="absolute bottom-0 left-[50%] rounded-full w-[180px] h-[180px] max-w-[180px] max-h-[180px] bg-amber-100 z-3" style="transform: translateX(-50%) translateY(50%);" src="{% static '/img/profile-offline-picture.png' %}">
            <div class="absolute bottom-0 left-[50%] rounded-full w-[200px] h-[200px] bg-amber-300 border-2 shadow-slate-600 shadow-sm border-amber-100 -z-10 mitad-superior-transparente" style="transform: translateX(-50%) translateY(50%);"></div>
        </picture>
    {% endif %}
    <ul class="absolute right-0 flex justify-around content-center bg-center p-2 w-[85%]">
        <li class="place-self-center">
            <form class="my-auto" action="{% url 'home' %}">
                <button ion-button icon-only type="submit" class="text-sm font-mono text-amber-50  font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 p-2 px-10 m-2 mx-10 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer">
                    {% if request.path == '/home' %}
                        <ion-icon size="large" title="Home" name="home" class="text-yellow-300 my-auto mx-1.5"></ion-icon>
                    {% else %}
                        <ion-icon size="large" title="Home" name="home-outline" class="my-auto mx-1.5"></ion-icon>
                    {% endif %}
                </button>
            </form>
        </li>
        <li class="place-self-center">
            <form action="{% url 'orders:orders' %}">
                <button ion-button icon-only type="submit" class="text-sm font-mono text-amber-50  font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 p-2 px-10 m-2 mx-10 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer">
                    {% if request.path == '/orders' %}
                        <ion-icon size="large" title="Orders" name="cart" class="text-yellow-300 my-auto mx-1.5"></ion-icon>
                    {% else %}
                        <ion-icon size="large" title="Orders" name="cart-outline" class="my-auto mx-1.5"></ion-icon>
                    {% endif %}
                </button>
            </form>
        </li>
        <li class="place-self-center">
            <form action="{% url 'articles:articles' %}">
                <button ion-button icon-only type="submit" class="text-sm font-mono text-amber-50  font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 p-2 px-10 m-2 mx-10 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer">
                    {% if request.path == '/articles' %}
                        <ion-icon size="large" title="Articles" name="layers" class="text-yellow-300 my-auto mx-1.5"></ion-icon>
                    {% else %}
                        <ion-icon size="large" title="Articles" name="layers-outline" class="my-auto mx-1.5"></ion-icon>
                    {% endif %}
                </button>
            </form>
        </li class="place-self-center">
            <form action="{% url 'customers:customers' %}">
                <button ion-button icon-only type="submit" class="text-sm font-mono text-amber-50  font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 p-2 px-10 m-2 mx-10 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer">
                    {% if request.path == '/customers' %}
                        <ion-icon size="large" title="Customers" name="people" class="text-yellow-300 my-auto mx-1.5"></ion-icon>
                    {% else %}
                        <ion-icon size="large" title="Customers" name="people-outline" class="my-auto mx-1.5"></ion-icon>
                    {% endif %}
                </button>
            </form>
        </li>
        <li class="place-self-center">
            <form class="my-auto" action="{% url 'settings:settings' %}">
                <button ion-button icon-only type="submit" class="text-sm font-mono text-amber-50  font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 p-2 px-10 m-2 mx-10 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer">
                    {% if request.path == '/settings' %}
                        <ion-icon size="large" title="Settings" name="settings" class="text-yellow-300 my-auto mx-1.5"></ion-icon>
                    {% else %}
                        <ion-icon size="large" title="Settings" name="settings-outline" class="my-auto mx-1.5"></ion-icon>
                    {% endif %}
                </button>
            </form>
        </li>
    </ul>
</nav>
<!-- Phone Menu/Footer -->
<nav class="h-24 bg-amber-200  bottom-0 w-full fixed flex justify-evenly items-center sm:hidden z-3">
    <form action="{% url 'home' %}">
        <button  ion-button icon-only type="submit">
            {% if request.path == '/home' %}
                <ion-icon title="Home" class="text-red-800 text-3xl rounded-br-lg  px-4 py-2 cursor-pointer" name="home"></ion-icon>
            {% else %}
                <ion-icon title="Home" class="text-red-800 text-3xl rounded-br-lg  px-4 py-2 cursor-pointer" name="home-outline"></ion-icon>
            {% endif %}
        </button>
    </form>
    <form action="{% url 'orders:orders' %}">
        <button  ion-button icon-only type="submit">
            {% if request.path == '/orders' %}
                <ion-icon title="Orders" class="text-red-800 text-3xl rounded-br-lg  px-4 py-2 cursor-pointer" name="cart"></ion-icon>
            {% else %}
                <ion-icon title="Orders" class="text-red-800 text-3xl rounded-br-lg  px-4 py-2 cursor-pointer" name="cart-outline"></ion-icon>
            {% endif %}
        </button>
    </form>
    <form action="{% url 'articles:articles' %}">
        <button  ion-button icon-only type="submit">
            {% if request.path == '/articles' %}
            <ion-icon title="Articles" class="text-red-800 text-3xl rounded-br-lg  px-4 py-2 cursor-pointer" name="layers"></ion-icon>
            {% else %}
            <ion-icon title="Articles" class="text-red-800 text-3xl rounded-br-lg  px-4 py-2 cursor-pointer" name="layers-outline"></ion-icon>
            {% endif %}
            
        </button>
    </form>
    <form action="{% url 'customers:customers' %}">
        <button  ion-button icon-only type="submit">
            {% if request.path == '/customers' %}
                <ion-icon title="Customers" class="text-red-800 text-3xl rounded-br-lg  px-4 py-2 cursor-pointer" name="people"></ion-icon>
            {% else %}
                <ion-icon title="Customers" class="text-red-800 text-3xl rounded-br-lg  px-4 py-2 cursor-pointer" name="people-outline"></ion-icon>
            {% endif %}
            
        </button>
    </form>
    <form action="{% url 'settings:settings' %}">
        <button  ion-button icon-only type="submit">
            {% if request.path == '/settings' %}
                <ion-icon title="Settings" class="text-red-800 text-3xl px-4 py-2 cursor-pointer" name="settings"></ion-icon>
            {% else %}
                <ion-icon title="Settings" class="text-red-800 text-3xl px-4 py-2 cursor-pointer" name="settings-outline"></ion-icon>
            {% endif %}
        </button>
    </form>
</nav>



