{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
    {% if process == "connect" %}
        {% #title %}
            {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
        {% /title %}
        {% #block_message %}
            {% #message type="base" %}
                {% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}
            {% /message %}
        {% /block_message %}
    {% else %}
        {% #title %}
                {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
        {% /title %}
        {% #block_message %}
            {% #message type="base" %}
                {% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}
            {% /message %}
        {% /block_message %}
    {% endif %}
    <form class="pt-20 flex justify-center" method="post">
        {% csrf_token %}
        <button class="btn btn-wide btn-accent" type="submit">{% trans "Continue" %}</button>
    </form>
{% endblock content %}
