/* .appear-vanish {
  animation: appearAndVanish 4s;
  animation-fill-mode: forwards;
}

@keyframes appearAndVanish {
  0% {
    opacity: 0;
    height: 0%;
  }
  25% {
    opacity: 1;
    height: 100%;
  }
  75% {
    opacity: 1;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
} */
div.vanish.vanish-trigger {
  animation: fadeout .3s forwards;
}

@keyframes fadeout {
  to{
    opacity: 0;
    display: none;
  }
}
.appear {
  animation: fadein .5s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.card-article-border{
  border-radius: var(--rounded-btn, 0.5rem/* 8px */);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}