{% if object_list %}
  <div class="flex flex-col overflow-x-auto">
    <div class="sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-x-auto">
          <table class="min-w-full text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">#</th>
                <th scope="col" class="px-6 py-4">Name</th>
                <th scope="col" class="px-6 py-4">DNI</th>
                <th scope="col" class="px-6 py-4">Phone number</th>
                <th scope="col" class="px-6 py-4">E-mail</th>
                <th scope="col" class="px-6 py-4">Address</th>
                <th scope="col" class="px-6 py-4">Total purchased</th>
                <th scope="col" class="px-6 py-4">Functions</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap px-6 py-4 font-medium" id="{{object.id}}">{{object.id}}</td>
                <td class="whitespace-nowrap px-6 py-4">{{object.name}}</td>
                <td class="whitespace-nowrap px-6 py-4">{% if object.dni == None %}-{% else %}{{object.dni}}{% endif %}</td>
                <td class="whitespace-nowrap px-6 py-4">{% if object.phone_number == None %}-{% else %}{{object.phone_number}}{% endif %}</td>
                <td class="whitespace-nowrap px-6 py-4">{% if object.email == None %}-{% else %}{{object.email}}{% endif %}</td>
                <td class="whitespace-nowrap px-6 py-4">{% if object.address == None %}-{% else %}{{object.address}}{% endif %}</td>
                <td class="whitespace-nowrap px-6 py-4">$ {{object.total_purchased}}</td>
                <td class="whitespace-nowrap px-6 py-4 flex max-sm:flex-col sm:justify-center items-center">
                  <form class="py-1" action="{% url 'customers:update' pk=object.id %}" method="GET">
                      <button ion-button icon-only type="submit" class="max-sm:mx-auto text-amber-50 rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 mx-2 py-2 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer">
                          <ion-icon name="create-outline"></ion-icon>
                      </button>
                  </form>
                  <form class="py-1" hx-delete="{% url 'customers:delete' pk=object.id %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-swap="outerHTML" hx-target="#customers_search_data" hx-confirm="Are you sure you want to delete the customer: {{customer.name}}?">
                      {% csrf_token %}
                      <button type="submit" ion-button icon-only class="max-sm:mx-auto text-amber-50 rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 py-2 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer">
                          <ion-icon name="trash-outline"></ion-icon>
                      </button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endif %}
