{% if customers_any %}
    <table class="mx-auto table-auto font-mono  text-red-900  shadow-slate-600 shadow-sm bg-amber-200 border-separate border-2 border-amber-100 rounded-md p-4 m-8">
        <thead class="p-3 m-3">
            <tr class="bg-amber-300">
                <th class="lg:m-4 md:m-4 ">Id</th>
                <th class="lg:m-4 md:m-4 ">Name</th>
                <th class="lg:m-4 md:m-4 ">Phone number</th>
                <th class="lg:m-4 md:m-4 ">E-mail</th>
                <th class="lg:m-4 md:m-4 ">Address</th>
                <!-- <th class="lg:m-4 md:m-4 ">Cant. Pedidos</th> -->
                <th></th>
            </tr>
        </thead>
        <tbody class="bg-amber-100">
            {% for customer in customers_any %}
                <tr>
                    
                    <td class="lg:m-4 md:m-4 lg:px-12 md:px-12" id="{{customer.id}}">{{customer.id}}</td>

                    <td class="lg:m-4 md:m-4 lg:px-12 md:px-12">{{customer.name}}</td>

                    <td class="lg:m-4 md:m-4 lg:px-12 md:px-12  tabular-nums slashed-zero">{{customer.phone_number}}</td>
                    <td class="lg:m-4 md:m-4 lg:px-12 md:px-12  tabular-nums slashed-zero">{{customer.email}}</td>
                    <td class="lg:m-4 md:m-4 lg:px-12 md:px-12  tabular-nums slashed-zero">{{customer.address}}</td>
                    <td></td>
                    <!-- <td class="flex mx-2">
                        dos botones

                    </td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
