{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
    <title>Canario Regionales</title>
{% endblock title %}
{% block content %}
    <body class="bg-cover bg-center bg-no-repeat" style="background-image: url('static/img/smoke-bg.png')">
        <div class="sm:grid sm:grid-rows-3 sm:grid-flow-col sm:gap-4">
            <div class="sm:row-span-3 sm:bg-gradient-to-tr sm:from-amber-300 sm:to-amber-100 sm:rounded-md sm:border-2 sm:p-4 sm:m-8 sm:shadow-slate-600 sm:shadow-md sm:border-separate sm:border-amber-100 sm:transition sm:duration-300 sm:hover:shadow-slate-600 sm:hover:shadow-sm">
                <form action="{% url 'orders:orders' %}">
                    <button class="flex text-lg font-mono text-amber-50 font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 pl-4 pr-8 py-4 shadow-md shadow-slate-800 transition ease-in-out  hover:-translate-y-1 hover:scale-110 duration-300 hover:shadow-xl hover:shadow-slate-400 m-4 mx-8 cursor-pointer max-w-xs" type="submit">
                        <ion-icon size="large" title="Orders" name="cart-outline"></ion-icon>
                        <h1 class="pl-4 my-auto">Orders</h1>
                    </button>
                </form>
                <form action="{% url 'articles:articles' %}">
                    <button class="flex text-lg font-mono text-amber-50 font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 pl-4 pr-8 py-4 shadow-md shadow-slate-800 transition ease-in-out  hover:-translate-y-1 hover:scale-110 duration-300 hover:shadow-xl hover:shadow-slate-400 m-4 mx-8 cursor-pointer max-w-xs" type="submit">
                        <ion-icon size="large" title="Articles" name="layers-outline"></ion-icon>
                        <h1 class="pl-4 my-auto">Articles</h1>
                    </button>
                </form>
                <form action="{% url 'customers:customers' %}">
                    <button class="flex text-lg font-mono text-amber-50 font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 pl-4 pr-8 py-4 shadow-md shadow-slate-800 transition ease-in-out  hover:-translate-y-1 hover:scale-110 duration-300 hover:shadow-xl hover:shadow-slate-400 m-4 mx-8 cursor-pointer max-w-xs" type="submit">
                        <ion-icon size="large" title="CUSTOMERS" name="people-outline"></ion-icon>
                        <h1 class="pl-4 my-auto">Customers</h1>
                    </button>
                </form>
            </div>
            <div class="col-span-2 bg-gradient-to-tr from-amber-300 to-amber-100 rounded-md  border-2 p-4 m-8 shadow-slate-600 shadow-md border-separate border-amber-100 transition duration-300 hover:shadow-slate-600 hover:shadow-sm">
                <h3>User: {{ user.username }}</h3>
                <h3>E-mail: {{ user.email }}</h3>
                {% get_user_picture user as user_picture %}
                <img class="rounded-full max-w-[160px] max-h-[160px]" src="{{user_picture}}" alt="{{ user.username }}'s Profile Picture">
            </div>
            <div class="col-span-2 row-span-2 bg-gradient-to-tr from-amber-300 to-amber-100 rounded-md  border-2 p-4 m-8 shadow-slate-600 shadow-md border-separate border-amber-100 transition duration-300 hover:shadow-slate-600 hover:shadow-sm">
                EL PRECIO DEL DOLAR HOY ES DE: {{dollar_price}}
            </div>
        </div>
    </body>
{% endblock content %}



