{% extends 'footer.html' %}
{% block head_one %}
    <title>Canario Regionales</title>
{% endblock %}
{% block content_one %}
    <h1 style="text-align: center;">Bienvenido</h1>
    <h2 style="text-align: center;">Si estas viendo esto, es porque entraste.</h2>
    <h3>Usuario: {{ user.username }}</h3>
    <h3>Correo: {{ user.email }}</h3>

    <form action="/articles">
        <div style="padding: 50px; background-color: rgb(115, 110, 187);">
            <input class="invisible" style="display: none;" type="text" name="first_time_articles" value="1">
            <input type="submit" value="Artículos" name="articles">
        </div>
    </form>

    <form action="/customers">
        <div style="padding: 50px; background-color: rgb(143, 83, 83);">
            <!-- <input class="invisible" type="text" name="first_time_customers" value="1"> -->
            <input type="submit" value="Clientes" name="customers">
        </div>
    </form>

    <form action="/orders">
        <div style="padding: 50px; background-color: rgb(74, 156, 74);">
            <!-- <input class="invisible" type="text" name="first_time_orders" value="1"> -->
            <input type="submit" value="Pedidos" name="orders">
        </div>
    </form>
{% endblock %}