{% extends 'footer.html' %}
{% block head_one %}
    <title>Canario Regionales</title>
{% endblock %}
{% block content_one %}
    <h1 style="text-align: center;">Bienvenido</h1>
    <h2 style="text-align: center;">Si estas viendo esto, es porque entraste.</h2>
    <h3>Usuario: {{ user.username }}</h3>
    <h3>Correo: {{ user.email }}</h3>

    <div style="padding: 50px; background-color: rgb(115, 110, 187);">
        <form action="{% url 'articles_all' %}">
            <input type="submit" value="Artículos" name="articles">
        </form>
    </div>

    <div style="padding: 50px; background-color: rgb(143, 83, 83);">
        <form action="{% url 'customers_all' %}">
            <input type="submit" value="Clientes" name="customers">
        </form>
    </div>

    <div style="padding: 50px; background-color: rgb(74, 156, 74);">
        <form action="{% url 'orders_all' %}">
            <input type="submit" value="Pedidos" name="orders">
        </form>
    </div>

{% endblock %}