{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="text/css" href="{% static 'css/styles.css' %}">

</head> 
<body>
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <h2>Login</h2>
  <form id="login-form" action="/login/buscar" method="GET">
    <p>
    <input name="username_input" type="text" id="username" name="username" placeholder="Nombre de Usuario" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input name="password_input" type="password" id="password" name="password" placeholder="Contraseña" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="login" value="Entrar">
    </p>
    <p>{{ respuesta }}</p>
  </form>
  <div id="create-account-wrap">
    <p>No estas registrado? <a href="https://wa.me/+542615878046">Pide al administrador que te genere una cuenta</a><p>
  </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->
  
</body>
</html>
