{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Login</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>
{% endblock title %}
{% block content %}
    <body class="font-family-karla h-screen bg-[#edf2f7]">
        <div class="w-full flex flex-wrap">

            <!-- Login Section -->
            <div class="w-full md:w-1/2 flex flex-col">

                <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
                    <img src="{% static '/img/elcanarioregionales-logo-160x160.png' %}" alt="El Canario Regionales Logo">
                </div>

                <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                    <p class="text-center text-3xl">Bienvenido.</p>
                    <form action="{% url 'login_search' %}" method="POST" class="flex flex-col pt-3 md:pt-8">
                        {% csrf_token %}
                        <div class="flex flex-col pt-4">
                            <label for="username_input" class="text-lg">Nombre de usuario:</label>
                            <input type="text" name="username_input" id="username_input" placeholder="admin" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                        </div>
        
                        <div class="flex flex-col pt-4">
                            <label for="password_input" class="text-lg">Contraseña</label>
                            <input type="password" name="password_input" id="password_input"placeholder="1234" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                        </div>
        
                        <input type="submit" value="Log In" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 cursor-pointer">
                    </form>
                    <div class="text-center pt-12 pb-12">
                        <p>No tienes una cuenta? <a href="#" class="underline font-semibold">Registrarse.</a></p>
                    </div>
                </div>

            </div>

            <!-- Image Section -->
            <div class="w-1/2 shadow-2xl">
                <img class="object-cover w-full h-screen hidden md:block" src="{% static 'img/fondo-login.webp' %}">
            </div>
        </div>

    </body>
{% endblock content %}
