{% load i18n %}
<main class="w-full flex-grow p-6" id="search_datatype">
    <h1 class="text-3xl text-black pb-6">{% translate 'Search orders' %}:</h1>
    {% include 'orders_search_header.html' %}
    <div class="w-full mt-12">
        <div class="text-xl pb-3 flex items-center justify-between">
            <!-- Latest Reports -->
            <div class="text-xl pb-3 flex items-center">
                <i class="fas fa-list mr-3"></i>
                <span>{% translate 'Orders list' %}</span>
            </div>
            <div class="text-base">
                {% button type="success" url='orders:create' text="Create Order" method="GET" %}
            </div>
        </div>
        <div class="bg-white overflow-auto" id="search_data">
            {% if object_list.count > 0 %}
                {% #message type="success" %}
                    {% translate 'Number of orders found:' %} <b>{{ order_list.count }}</b>
                {% /message %}
            {% else %}
                {% #message type="success" %}
                    {% translate 'No orders were found. DataBase its empty.' %}
                {% /message %}
            {% endif %}
            {% include 'orders_table.html' %}
        </div>
    </div>
</main>