{% load i18n %}
<main class="flex flex-col overflow-auto p-2" id="search_datatype">
    <h1 class="pb-6 p-2 text-3xl">{% translate 'Search orders' %}:</h1>
    {% include 'orders_search_header.html' %}
    <div class="w-full">
        <div class="flex items-center justify-between pb-3 text-xl">
            <!-- Latest Reports -->
            <div class="flex items-center pb-3 px-3 text-xl">
                <span>{% translate 'Orders list' %}</span>
            </div>
            <div class="text-base flex gap-2">
                {% button type="success" url='orders:create' text="Create Order" method="GET" %}
            </div>
        </div>
        <div id="search_data">
            {% if object_list.count > 0 %}
                {% #message type="success" %}
                    {% translate 'Number of orders found:' %} <b>{{ order_list.count }}</b>
                {% /message %}
            {% else %}
                {% #message type="success" %}
                    {% translate 'No orders were found. DataBase its empty.' %}
                {% /message %}
            {% endif %}
            {% include 'orders_table.html' %}
        </div>
    </div>
</main>