{% load i18n %}
<div id="search_data" >
    {% if object_list %}
        {% if answer_error_name %}
            {% #message type="danger" %}
                {{answer_error_name}}
            {% /message %}
        {% endif %}
        {% if delete_answer %}
            {% #message type="danger" %}
                {{order_delete_answer}}
            {% /message %}
        {% endif %}
        {% #message type="success" %}
            {% translate 'Number of orders found:' %} {{object_list.count}}
        {% /message %}
        {% include 'orders_table.html' %}
    {% else %}
        {% if value %}
            {% #message type="warning" %}
                {% translate 'No Orders found for' %}: <b> {{datatype}} {{value}}</b>
            {% /message %}
        {% else %}
            {% #message type="warning" %}
                {% translate 'No Orders found.' %} <b> {{datatype}} {{value}}</b>
            {% /message %}
        {% endif %}
    {% endif %}
</div>