{% load i18n %}
<main class="w-full flex-grow p-6" id="search_datatype">
    <h1 class="text-3xl text-black pb-6">{% translate 'Search articles' %}:</h1>
    {% load custom_tags %}
    {% get_all_categories as categories %}
    {% include 'articles_search_header.html' %}
    <div class="w-full mt-12">
        <div class="flex items-center justify-between pb-3 text-xl">
            <!-- Latest Reports -->
            <div class="flex items-center pb-3 text-xl">
                <i class="mr-3 fas fa-list"></i>
                <span>{% translate 'Articles List' %}</span>
            </div>
            <div class="text-base flex gap-2">
                {% button type="info" url='articles:categories' border="False" text="Categories" %}
                {% button type="success" url='articles:create' border="False" text="Create Article" %}
            </div>
        </div>
        <div class="bg-white overflow-auto" id="search_data">
            {% if article_list.count > 0 %}
                {% #message type="success" %}
                    {% translate 'Number of articles found:' %} <b>{{ article_list.count }}</b>
                {% /message %}
            {% else %}
                {% #message type="danger" %}
                    {% translate 'No items were found with values in the selected category.' %} 
                {% /message %}
            {% endif %}
            {% include 'articles_table.html' %}
        </div>
    </div>
</main>