{% load i18n %}
<div id="article_sell_price_output" class="w-full">
    {% if answer_string_error %}
        <p class="p-0 m-0 text-danger text-xs" type="text">{{answer_string_error}}</p>
    {% else %}
        <p class="p-0 m-0 text-xs">&nbsp;</p>
    {% endif %}
    {% if answer_empty_error %}
        <p class="p-0 m-0 text-danger text-xs" type="text">{{answer_empty_error}}</p>
    {% else %}
        <p class="p-0 m-0 text-xs">&nbsp;</p>
    {% endif %}

    <div class="form-control">
        <label class="label" for="article_sell_price_input">
          <span class="label-text-alt">{% translate 'Sell price' %}</span>
        </label>
        <input class="input max-xs:mx-0 max-sm:mx-1 sm:mx-2 cursor-not-allowed" type="text" name="article_sell_price_input" value="{{ answer_calculator }} {% if article_to_update %}{{article_to_update.sell_price}}{% endif %}" id="article_sell_price_input" readonly />
    </div>
    <p class="p-0 m-0 text-xs">&nbsp;</p>
    <p class="p-0 m-0 text-xs">&nbsp;</p>
</div>



