<div class="mx-auto max-w-md" id="article_create_answer">
  {% include 'articles_create_table.html' %}
  {% if answer_save_error %}
    <p class="font-bold empty:hidden cursor-default vanish text-red-600">{{answer_save_error}}</p>
    <p class="p-0 m-0 text-xs">&nbsp;</p>
  {% else %}
    <p class="p-0 m-0 text-xs">&nbsp;</p>
    <p class="p-0 m-0 text-xs">&nbsp;</p>
  {% endif %}
  {% if answer_save_right %}
    <p class="font-bold empty:hidden vanish cursor-default text-green-600">{{answer_save_right}}</p>
    <p class="p-0 m-0 text-xs">&nbsp;</p>
  {% else %}
    <p class="p-0 m-0 text-xs">&nbsp;</p>
    <p class="p-0 m-0 text-xs">&nbsp;</p>
  {% endif %}
</div>

