<div id="datatype_answer">
    <div class="bg-gradient-to-tr from-amber-100 to-amber-300 rounded-md p-4 m-8 shadow-slate-600 shadow-md border-separate border-2 border-amber-100 transition duration-300 hover:shadow-slate-600 hover:shadow-sm">
        <div class="flex flex-row">
            <div class="basis-1/3 flex place-content-start">
                    <label class="text-black font-sans font-bold mx-2" for="search_input">Buscar:</label>
                    <select class="bg-amber-50 rounded-sm px-2 mx-2" name="datatype_input" id="datatype_input" hx-get="{% url 'articles_read' %}" hx-target="#datatype_answer"  hx-trigger="change" hx-swap="outerHTML">
                        <option value="id">ID</option>
                        <option value="article_name">Nombre</option>
                        <option value="category_id">Categoría</option>
                        <option value="color_id">Color</option>
                        <option value="material_id">Material</option>
                        <option value="size_id">Talle/Tamaño</option>
                        <option value="buy_price" selected>Precio de Compra</option>
                        <option value="increase">Incremento</option>
                        <option value="sell_price">Precio de Venta</option>
                    </select>
                    
                    <input class="bg-amber-50 rounded-sm px-2 mx-2" placeholder="{{datatype}}" type="text" hx-get="{% url 'articles_read_buy_price' %}" hx-include="#datatype_input" name="search_input" id="search_input" hx-target="#search_answer_table" hx-swap="outerHTML" hx-trigger="keyup changed delay:300ms">

            </div>
            <div class="basis-1/3 flex place-content-center">
                <form action="{% url 'articles_create' %}">
                    <button  ion-button icon-only type="submit">
                        <ion-icon title="Crear Artículo" class="text-amber-50 rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 py-2 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer" name="add-circle-outline"></ion-icon>
                    </button>
                </form>
            </div>
            <div class="basis-1/3 flex justify-around">
                <form action="{% url 'categories' %}"> 
                    <input class="text-sm font-mono text-amber-50 font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 py-1 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer" type="submit" value="Categorías">
                </form>
                <form action="{% url 'colors' %}"> 
                    <input class="text-sm font-mono text-amber-50 font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 py-1 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer" type="submit" value="Colores">
                </form>
                <form action="{% url 'materials' %}"> 
                    <input class="text-sm font-mono text-amber-50 font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 py-1 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer" type="submit" value="Materiales">
                </form>
                <form action="{% url 'sizes' %}"> 
                    <input class="text-sm font-mono text-amber-50 font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 py-1 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer" type="submit" value="Talles">
                </form>
            </div>
        </div>
    </div>
    <div id="search_answer_table">
        {% if articles_any %}
            <div>
                
                {% include 'articles_table.html' %}
            </div>
        {% endif %}
    </div>
</div>