<div id="category_value_section">
    <div class="bg-gradient-to-tr from-amber-300 to-amber-100 rounded-md  border-2 p-4 m-8 shadow-slate-600 shadow-sm border-separate border-amber-100">
        <output class="font-bold empty:hidden cursor-default vanish text-red-600 text-right" type="text">{{answer}}</output><br>
        <output class="font-bold empty:hidden cursor-default vanish text-red-600 text-right" type="text">{{answer_error_name}}</output>
    </div>
    {% include 'categories_table.html' %}
</div>
