<div id="articles_search_data" >
    {% if article_list %}
        <div class="w-[90%] mx-auto bg-gradient-to-tr from-amber-300 to-amber-100 rounded-md border-2 p-4 m-8 shadow-slate-600 shadow-sm border-separate border-amber-100">
            {% if answer_error_name %}
                <output class="font-bold empty:hidden cursor-default text-red-600 appear" type="text">{{answer_error_name}}</output><br>
            {% endif %}
            {% if article_delete_answer %}
                <output class="font-bold empty:hidden cursor-default text-red-600 appear" type="text">{{article_delete_answer}}</output><br>
            {% endif %}
            <output class="font-bold empty:hidden cursor-default appear text-green-600" type="text">Articles found: <b>{{ article_list.count }}</b>.</output>
        </div>
        {% include 'articles_table.html' %}
    {% else %}
        
        <div class="w-[90%] mx-auto bg-gradient-to-tr from-amber-300 to-amber-100 rounded-md border-2 p-4 m-8 shadow-slate-600 shadow-sm border-separate border-amber-100">
            <output class="font-bold empty:hidden cursor-default text-red-600 appear" type="text">No articles found for: <b> {{datatype}} {{value}}</b></output>
        </div>
    {% endif %}
</div>