<main class="w-full flex-grow p-6" id="search_datatype">
    <h1 class="text-3xl text-black pb-6">Search articles:</h1>
    {% load custom_tags %}
    {% get_all_categories as categories %}
    {% include 'articles_search_header.html' %}
    <div class="w-full mt-12">
        <p class="text-xl pb-3 flex items-center">
            <!-- Latest Reports -->
            <i class="fas fa-list mr-3"></i>Articles list
        </p>
        <div class="bg-white overflow-auto" id="search_data">
            {% if article_list.count > 0 %}
                <div class="bg-green-300 mb-2 border border-green-300 text-green-600 px-4 py-3 rounded relative appear" role="alert">
                    <strong class="font-bold">Yeaah!</strong>
                    <span class="block sm:inline">Number of articles found: <b>{{ article_list.count }}</span>
                    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                        <svg class="fill-current h-6 w-6 text-green" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                    </span>
                </div>
            {% else %}
                <div class="bg-orange-300 mb-2 border border-orange-300 text-orange-600 px-4 py-3 rounded relative appear" role="alert">
                    <strong class="font-bold">Oops!</strong>
                    <span class="block sm:inline">No items were found with values in the selected category.</span>
                    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                        <svg class="fill-current h-6 w-6 text-orange" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                    </span>
                </div>
            {% endif %}

            {% include 'articles_table.html' %}
        </div>
    </div>
</main>