<div class="mx-auto max-w-md" id="article_update_answer">

    <h1 class="font-mono text-lg text-center font-bold text-green-600">Artículo editado correctamente: {{article_to_update.id}}</h1>
    <div class="p-4 m-4">
        <label class="italic px-2">Nombre*: </label>
        <input class="bg-amber-50 rounded-sm px-2" value="{{ article_to_update.article_name }}" readonly></input>

    </div>
    <div class="p-4 m-4">
        <label class="italic px-2" >Categoría*: </label>
        <input class="bg-amber-50 rounded-sm px-2" value="{{ article_to_update.category_id.category_name }}" readonly></input>
    </div>
    <div class="p-4 m-4">
        <label class="italic px-2">Color: </label>
        <input class="bg-amber-50 rounded-sm px-2" value="{{ article_to_update.color_id.color_name }}" readonly></input>
    </div>
    <div class="p-4 m-4">
        <label class="italic px-2">Material: </label>
        <input class="bg-amber-50 rounded-sm px-2" value="{{ article_to_update.material_id.material_name }}" readonly></input>
    </div>
    <div class="p-4 m-4">
        <label class="italic px-2">Talle/Tamaño: </label>
        <input class="bg-amber-50 rounded-sm px-2" value="{{ article_to_update.size_id.size_name }}" readonly></input>
    </div>
    <div class="p-4 m-4">
        <label class="italic px-2">Precio de Compra*: </label>
        <input class="bg-amber-50 rounded-sm px-2" value="{{ article_to_update.buy_price }}" readonly></input>
    </div>
    <div class="p-4 m-4">
        <label class="italic px-2">Incremento*: </label>
        <input class="bg-amber-50 rounded-sm px-2" value="{{article_to_update.increase}}" readonly></input>
        <label class="bg-amber-50 rounded-sm px-2" >%</label>
    </div>
    <div class="p-4 m-4">
        <label class="italic px-2">Precio de Venta*: </label>
        <input class="bg-amber-50 rounded-sm px-2" value="{{ article_to_update.sell_price }}" readonly></input>
    </div>

    <div>
        <output class="rounded-sm px-2 empty:hidden text-green-600">{{answer_save_right}}</output>
    </div>
    <form action="{% url 'articles' %}">
        <button class="text-sm font-mono text-amber-50 font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 p-2 m-2 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer" type="submit">Volver</button>
    </form>
  </div>

