<div class="p-4 m-4" id="article_sell_price_output">
    <label class="italic px-2">Sell price*: </label>
    {% if answer_calculator %}
        <input class="bg-amber-50 rounded-sm px-2 empty:hidden cursor-not-allowed" type="text" name="article_sell_price_input" id="article_sell_price_input" value="{{ answer_calculator }}" readonly></input>
        <br>
    {% endif %}
    {% if answer_string_error %}
        <br>
        <output class="font-bold empty:hidden cursor-default text-red-600 appear" type="text">{{answer_string_error}}</output>
        <br>
    {% endif %}
    {% if answer_empty_error %}
        <output class="font-bold empty:hidden cursor-default text-red-600 appear" type="text">{{answer_empty_error}}</output>
    {% endif %}
</div>