{% load i18n %}
<div id="search_data" >
    {% if object_list %}
            {% if answer_error_name %}
                {% #message type="danger" %}
                    {{answer_error_name}}
                {% /message %}
            {% endif %}
            {% if article_delete_answer %}
                {% #message type="danger" %}
                    {{article_delete_answer}}
                {% /message %}
            {% endif %}
                {% #message type="success" %}
                    {% translate 'Number of articles found:' %}<b>{{ object_list.count }}</b>
                {% /message %}
        {% include 'articles_table.html' %}
    {% else %}
        {% if value %}
            {% #message type="danger" %}
                {% translate 'No Articles found for:' %} <b> {{datatype}} {{value}}</b>
            {% /message %}
        
        {% else %}
            {% #message type="warning" %}
                {% translate 'Database its empty' %} <b> {{datatype}} {{value}}</b>
            {% /message %}
        </div>
        {% endif %}
    {% endif %}
</div>