<div id="articles_category_value_section">
    {% if answer_error_name %}
        {% #message type="danger" %}
            {{answer}}<br>
            {{answer_error_name}}
        {% /message %}
    {% else %}
        {% if answer %}
            {% #message type="success" %}
                {{answer}}
            {% /message %}
        {% elif answer_delete %}
            {% #message type="danger" %}
                {{answer_delete}}
            {% /message %}
        {% endif %}
    {% endif %}

    {% include 'categories_table.html' %}

</div>

