<div id="colors_table">

    <div class="grid grid-cols-2 place-content-center bg-gradient-to-tr from-amber-300 to-amber-100 rounded-md  border-2 p-4 m-8 shadow-slate-600 shadow-md border-separate border-amber-100 transition duration-300 hover:shadow-slate-600 hover:shadow-sm" >

        <div class="grid grid-cols-2 place-content-center gap-4">
            <input class="bg-yellow-50 rounded-sm px-4" type="text" name="color_input">
            <input class="text-sm font-mono text-amber-50 font-bold rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 py-1 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer" type="submit" value="Guardar" hx-get="{% url 'color_save' %}" hx-trigger="click" hx-target="#colors_table" hx-swap="outerHTML" hx-select="#colors_table" hx-include="[name='color_input']">
        </div>
    
        <div class="grid place-content-center gap-4">
            <output class="text-green-600" type="text">Se ha guardado correctamente el color: {{color_input}}</output>
        </div>
    
    </div>
    <div >
        {% include 'colors_table.html' %}
    </div>
</div>
