{% extends 'base.html' %}
{% load i18n %}
{% block base_title %}
    {% block title_section %}{% endblock title_section %}
{% endblock base_title %}
{% block base_content %}

    

    <div class="flex flex-row">
        <!-- Desktop Header -->
        <div class="row-span-1">
            {% include 'menu.html' %}
            {% include 'menu_mobile.html' %}
        </div>
        <div class="row-span-2 w-full">
            {% include 'header_profile.html' %}
            <main class="" id="search_datatype">
                {% block title_section_content_upper %}{% endblock title_section_content_upper %}
                {% block section_content_upper %}{% endblock section_content_upper %}
                <div class="w-full mt-12">
                    {% block title_section_content_under %}{% endblock title_section_content_under %}
                    <div class="bg-white overflow-auto" id="search_data">
                        {% block section_content_under %}{% endblock section_content_under %}
                    </div>
                </div>
            </main>
            <footer class="w-full bg-white text-right p-4">
                {% translate 'Built by' %} <a target="_blank" href="https://f-vega.com" class="underline">Federico Vega</a>.
            </footer>
        </div>
    </div>
{% endblock base_content %}
