{% extends 'base.html' %}
{% load i18n %}
{% block base_title %}
    {% block title_section %}{% endblock title_section %}
{% endblock base_title %}
{% block base_content %}
    <div class="flex flex-row h-full" >
        <!-- Desktop Header --> 
        <div class="row-span-1 h-full">
            {% include 'menu.html' %}
            {% comment  %}
                {% include 'menu_mobile.html' %}
            {% endcomment %}
        </div>
        <div class="row-span-2 w-full h-fullrelative">
            {% include 'header_profile.html' %}
            <main id="search_datatype" class="flex flex-col overflow-auto" style="height: calc(100% - 4rem);">
                {% block title_section_content_upper %}{% endblock title_section_content_upper %}
                {% block section_content_upper %}{% endblock section_content_upper %}
                {% block title_section_content_under %}{% endblock title_section_content_under %}
                <div id="search_data">
                    {% block section_content_under %}{% endblock section_content_under %}
                </div>
            </main>
            <footer class="footer footer-center p-4 bg-base-300 text-base-content absolute bottom-0">
                <aside>
                  <p>Copyright © 2023 - All right reserved by ACME Industries Ltd</p>
                </aside>
            </footer>
        </div>
    </div>
{% endblock base_content %}
