{% extends 'base.html' %}
{% load i18n %}
{% block base_title %}
    {% block title_section %}{% endblock title_section %}
{% endblock base_title %}
{% block base_content %}
    <div class="flex flex-row h-full" >
        <!-- Desktop Header --> 
        <div class="row-span-1 h-full">
            {% include 'menu.html' %}
            {% comment  %}
                {% include 'menu_mobile.html' %}
            {% endcomment %}
        </div>
        <div class="row-span-2 w-full h-full relative">
            {% include 'header_profile.html' %}
            <main id="search_datatype" class="flex flex-col overflow-auto p-2 pb-20" style="height: calc(100% - 4rem);">
                <h1 class="pb-6 p-2 text-3xl">{% block title_section_content_upper %}{% endblock title_section_content_upper %}</h1>
                {% block section_content_upper %}{% endblock section_content_upper %}
                {% block title_section_content_under %}{% endblock title_section_content_under %}
                <div id="search_data">
                    {% block section_content_under %}{% endblock section_content_under %}
                </div>
            </main>
            <footer class="max-sm:hidden footer footer-center p-5 bg-base-300 text-base-content absolute bottom-0">
                <aside>
                    <p><a class="line-through">Copyright © 2023</a> - Open Source Dev by <a href="https://f-vega.com" class="font-semibold">Federico Vega</a></p>
                </aside>
            </footer>
            {% include 'navbar_mobile.html' %}
        </div>
    </div>
{% endblock base_content %}
