{% load custom_tags %}
{% load i18n %}
{% load static %}

<header class="navbar bg-base-100">
    <div class="flex-1">
        <a href="#" class="btn btn-ghost normal-case text-xl">El Canario Regionales</a>
    </div>
    <div class="flex-none gap-2">
        <div class="form-control">
            <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
        </div>
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    {% if user_picture %}
                        <img class="w-12 h-12" src="{{user_picture}}" alt="{{ user.username }}'s Profile Picture">
                    {% elif user.socialaccount_set.all.0.get_avatar_url %}
                        <img class="w-12 h-12" src="{{user.socialaccount_set.all.0.get_avatar_url}}" alt="{{ user.username }}'s Profile Picture">
                    {% else %}
                        <img class="w-12 h-12" src="{% static 'img/generic_picture.png' %}" alt="{{ user.username }}'s Profile Picture">
                    {% endif %}
                </div>
            </label>
            <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                <li><a href="{% url 'settings:settings' %}">{% trans 'Profile' %}</a></li> 
                <li><a target="_blank" href="https://wa.me/542615878046?text=Hola,%20he%20notado%20un%20error%20en%20el%20canario%20regionales.%20%0ALo%20que%20sucede%20es%20que%20-">{% trans 'Support' %}</a></li>
                <li><a target="_blank" class="justify-between" href="https://wa.me/542615878046?text=Hola,%20he%20estado%20viendo%20tu%20sistema%20de%20El%20Canario%20Regionales%20y%20me%20parece%20genial!%20%0AMi%20nobre%20es%20-">{% trans 'Contact Us' %}<span class="badge">New</span></a></li>
                <li><a href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a></li>
            </ul>
        </div>
    </div>
</header>