{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block base_title %}
    {% translate 'Wellcome' %}
{% endblock base_title %}
{% block base_content %}
    <div class="flex flex-col justify-center items-center w-full">
        <img class="h-auto max-w-full p-10" src="{% static 'img/logo-dark.png' %}" alt="El Canario Regionales">
        {% if not user.is_authenticated %}
            <a class="btn btn-wide" href="{% url 'account_login' %}">LOGIN</a>
        {% else %}
        <a class="btn btn-wide" href="{% url 'core:home' %}">HOME</a>
        {% endif %}
    </div>
{% endblock base_content %}