{% load i18n %}
<aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
    <div class="p-6">
        <a href="#" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">{% translate 'Admin' %}</a>
        <form action="{% url 'orders:create' %}">
            <button class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                <i class="fas fa-plus mr-3"></i> {% translate 'Create Order' %}
            </button>
        </form>
    </div>
    <nav class="text-white text-base font-semibold pt-3">
        <a href="{% url 'core:home' %}" class="btn flex items-center {% if 'home' in request.path %} btn-accent {% endif %} my-4">
            <i class=""></i>
            {% translate 'Dashboard' %}
        </a>
        <a href="{% url 'orders:orders' %}" class="btn flex items-center {% if 'orders' in request.path %} btn-accent {% endif %}my-4">
            <i class=""></i>
            {% translate 'Orders' %}
        </a>
        <a href="{% url 'articles:articles' %}" class="btn flex items-center {% if 'articles' in request.path %} btn-accent {% endif %}my-4">
            <i class=""></i>
            {% translate 'Articles' %}
        </a>
        <a href="{% url 'customers:customers' %}" class="btn flex items-center {% if 'customers' in request.path %} btn-accent {% endif %}my-4">
            <i class=""></i>
            {% translate 'Customers' %}
        </a>
        <a href="#" class="btn flex items-center {% if 'calendar' in request.path %} btn-accent {% endif %}my-4">
            <i class=""></i>
            {% translate 'Calendar' %}
        </a>
    </nav>
    <a href="#" class="absolute w-full bottom-0 active-nav-link flex items-center justify-center btn">
        <i class="fas fa-arrow-circle-up mr-3"></i>
        {% translate 'Upgrade to Pro!' %}
    </a>
</aside>