{% load i18n %}
<aside class="relative h-full sm:w-[200px] md:w-[320px] bg-base-300 max-sm:hidden" >
    <div class="p-6">
        <a href="#" class="text-3xl font-semibold uppercase">{% translate 'Admin' %}</a>
        <form action="{% url 'orders:create' %}">
            <button class="w-full btn btn-primary btn-sm rounded-tl-none py-2 mt-5 font-semibold flex items-center justify-center ">
                <i class="fas fa-plus mr-3"></i> {% translate 'Create Order' %}
            </button>
        </form>
    </div>
    <nav class="text-base font-semibold pt-3 px-2">
        <a href="{% url 'core:home' %}" class="btn flex items-center {% if 'home' in request.path %} btn-accent {% else %} btn-outline {% endif %} my-4">
            <i class=""></i>
            {% translate 'Dashboard' %}
        </a>
        <a href="{% url 'orders:orders' %}" class="btn flex items-center {% if 'orders' in request.path %} btn-accent {% else %} btn-outline {% endif %} my-4">
            <i class=""></i>
            {% translate 'Orders' %}
        </a>
        <a href="{% url 'articles:articles' %}" class="btn flex items-center {% if 'articles' in request.path %} btn-accent {% else %} btn-outline {% endif %} my-4">
            <i class=""></i>
            {% translate 'Articles' %}
        </a>
        <a href="{% url 'customers:customers' %}" class="btn flex items-center {% if 'customers' in request.path %} btn-accent {% else %} btn-outline {% endif %} my-4">
            <i class=""></i>
            {% translate 'Customers' %}
        </a>
        <a href="#" class="btn btn-disabled flex items-center {% if 'calendar' in request.path %} btn-outline {% endif %}my-4">
            <i class=""></i>
            {% translate 'Calendar' %}
        </a>
        <a href="#" class="btn btn-secondary absolute bottom-0 mb-1 mx-auto" style="width: calc(95%);">
            <i class="fas fa-arrow-circle-up mr-3"></i>
            {% translate 'Upgrade to Pro!' %}
        </a>
    </nav>

</aside>