<form hx-post="{% url 'customers:update' pk=object.id %}" hx-swap="outerHTML" hx-trigger="click" hx-target="#form_update" id="form_update">
    {% load widget_tweaks %}
    {% load custom_filters %}
    {% csrf_token %}
    {% for field in form %}
        <div class="p-4 m-4">
            <label for="id_{{field.label|lower|replace_spaces_with_underscore}}" class="italic px-2">{{field.label}}</label>
            {% render_field field placeholder=field.label value=field.label.value class="bg-amber-50 rounded-sm px-2" %}
            {{field.errors}}
        </div>
    {% endfor %}
    <div class="grid place-content-end">
        <button ion-button icon-only type="submit" class="text-amber-50 rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 py-2 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer">
            <ion-icon name="save-outline"></ion-icon>
        </button>
    </div>
    {% if "ok" in request.GET %}
        <p class="vanish">Guardado.</p>
    {% endif %}
</form>
