<div id="customers_search_datatype">
    {% include 'customers_search_header.html' %}
    <div id="customers_search_data">
        <div class="w-[90%] mx-auto bg-gradient-to-tr from-amber-300 to-amber-100 rounded-md border-2 p-4 m-8 shadow-slate-600 shadow-sm border-separate border-amber-100">
            {% if customer_list.count > 0 %}
                <output class="font-bold empty:hidden cursor-default appear text-green-600" type="text">Number of customers found: <b>{{ customer_list.count }}</b>.</output>
            {% else %}
                <output class="font-bold empty:hidden cursor-default appear text-red-600" type="text">No customers were found. DataBase its empty</b>.</output>
            {% endif %}
        </div>
        {% include 'customers_table.html' %}
    </div>
</div>