{% load i18n %}
<main class="flex flex-col overflow-auto p-2" id="search_datatype">
    <h1 class="pb-6 p-2 text-3xl">{% translate 'Search' %} {{object_type}}:</h1>
    {% include include_header %}
    <div class="w-full">
        <div class="flex items-center justify-between pb-3 text-xl">
            <!-- Latest Reports -->
            <div class="flex items-center pb-3 text-xl px-3">
                <span>{{object_type|title}} {% translate 'list' %}</span>
            </div>

            <div class="text-base flex gap-2">
                {% button type="success" url=url_create border="False" text="Create Customer" %}
            </div>

        </div>
        <div class="" id="search_data">
            {% if object_list.count > 0 %}
                {% #message type="success" heading="Found!"%}
                    {% translate 'Number of' %} {{object_type}} {% translate 'found' %}: <b>{{ object_list.count }}</b>.
                {% /message %}
            {% else %}
                {% #message type="warning" heading="Not found!"%}
                    {% translate 'No' %} {{object_type|lower}} {% translate 'were found' %}. {% translate 'DataBase its empty' %}.
                {% /message %}
            {% endif %}
            {% include table %}
        </div>
    </div>
</main>
