<main class="w-full flex-grow p-6" id="search_datatype">
    <h1 class="text-3xl text-black pb-6">Search {{object_type}}:</h1>
    {% include include_header %}
    <div class="w-full mt-12">
        <div class="text-xl pb-3 flex items-center justify-between">
            <!-- Latest Reports -->
            <div class="text-xl pb-3 flex items-center">
                <i class="fas fa-list mr-3"></i>
                <span>{{object_type|title}} list</span>
            </div>
            {% #button type="success" url=url_create border="False" %}
                Crear
            {% /button %}
        </div>
        <div class="bg-white overflow-auto" id="search_data">
            {% if object_list.count > 0 %}
                {% #message type="success" heading="Found!"%}
                    Number of {{object_type}} found: <b>{{ object_list.count }}</b>.
                {% /message %}
            {% else %}
                {% #message type="success" heading="Not found!"%}
                    No {{object_type}} were found. DataBase its empty.
                {% /message %}
            {% endif %}
            {% include table %}
        </div>
    </div>
</main>
