{% extends 'base_home.html' %}
{% load i18n %}
{% load static %}
{% block title_section %}
    <title>{% translate 'Orders' %} - Canario Regionales</title>
{% endblock title_section %}

{% block title_section_content_upper %}
    {% translate 'Search orders' %}
{% endblock title_section_content_upper %}
{% block section_content_upper %}
    {% include 'orders_search_header.html'%}
{% endblock section_content_upper %}

{% block title_section_content_under %}
    <div class="text-xl pb-3 flex items-center justify-between">
        <!-- Latest Reports -->
        <div class="text-xl pb-3 flex items-center">
            <i class="fas fa-list mr-3"></i>
            <span>{% translate 'Orders list' %}</span>
        </div>
        <div class="text-base">
            {% button type="success" url='orders:create' text="Create Order" method="GET" %}
        </div>
    </div>
{% endblock title_section_content_under %}
{% block section_content_under %}
    {% include 'orders_table.html' %}
{% endblock section_content_under %}

    