{% extends 'base_home.html' %}
{% load i18n %}
{% load static %}
{% block title_section %}
    <title>{% translate 'Create Order' %} - Canario Regionales</title>
{% endblock title_section %}

{% block title_section_content_upper %}
    <h1 class="text-3xl text-black pb-6">{% translate 'Search orders' %}:</h1>
{% endblock title_section_content_upper %}
{% block section_content_upper %}
    {% include 'orders_search_header.html'%}
{% endblock section_content_upper %}

{% block title_section_content_under %}
    <div class="text-xl pb-3 flex items-center justify-between">
        <!-- Latest Reports -->
        <div class="text-xl pb-3 flex items-center">
            <i class="fas fa-list mr-3"></i>
            <span>{% translate 'Create Order Section' %}</span>
        </div>
    </div>
{% endblock title_section_content_under %}
{% block section_content_under %}

    {% #section type="full" %}
        {% var url="orders:create" %}
        {% var object_type="order" %}
        {% var form=form %}
        {% var request=request %}
        {% var action="create" %}
        {% include 'form.html' %}
    {% /section %}
{% endblock section_content_under %}

    