{% load i18n %}
<!-- class="input max-xs:mx-0 max-sm:mx-1 sm:mx-2" INPUT -->
<!-- class="btn max-xs:mx-0 max-sm:mx-1 sm:mx-2" BUTTON -->
<div class="grid flex-grow h-auto card bg-base-300 rounded-box place-items-center py-10 max-sm:px-1 sm:px-4">

  <h1 class="text-2xl">{{title}}</h1>

  <!--Name input-->
  <div class="form-control w-full">
    <label class="label" for="article_name_input">
      <span class="label-text-alt">{% translate 'Name' %}</span>
    </label>
    <input class="input max-xs:mx-0 max-sm:mx-1 sm:mx-2" type="text" hx-get="{% url 'articles:create_name_check' %}" hx-target="#answer_article_name" hx-trigger="keyup changed delay:200ms" hx-swap="outerHTML" name="article_name_input" id="article_name_input" required value="{{article_name_input}}" placeholder="{% translate 'Name' %}" />
  </div>

  {% include 'articles_create_name_error.html' %}

  <!--Stock input-->
  <div class="form-control w-full">
    <label class="label" for="article_stock_input"><span class="label-text-alt">{% translate 'Stock' %}</span></label>
    <input class="input max-xs:mx-0 max-sm:mx-1 sm:mx-2" type="text" hx-get="{% url 'articles:create_stock_check' %}" hx-target="#answer_article_stock" hx-trigger="keyup changed delay:200ms" hx-swap="outerHTML" name="article_stock_input" value="{{article_stock_input}}" id="article_stock_input" placeholder="{% translate 'Stock' %}" />
  </div>

  {% include 'articles_create_stock_check.html' %}

  <!-- Categories -->
  <div class="collapse bg-base-200 collapse-arrow">
    <input type="checkbox" /> 
    <div class="collapse-title text-base">
      {% translate 'Categories' %}
    </div>
    <div class="collapse-content">
      {% for category in categories %}
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text" for="{{category.id}}">{{category.name}}</span>
            <a class="btn btn-warning btn-xs" type="submit" href="{% url 'articles:category_update' external_link="True" cat_id=category.id cat_update_name=None %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></a>
          </label>
          <select class="select" id="{{category.id}}" name="category-{{category.id}}">
            <option value=""></option>
            {% load custom_tags %}
            {% with values|filter_by_category:category as values_for_category %}
                {% for value in values_for_category %}
                <option value="{{value.id}}" {% if value.id in values_selected %} selected {% endif %}>{{value.name}}</option>
                {% endfor %}
            {% endwith %}
          </select>
        </div>
        <p class="p-0 m-0 text-xs">&nbsp;</p>
        <output class="p-0 m-0 text-xs" id="answer_category_id">{{answer_category_id}}</output>
      {% endfor %}
    </div>
  </div>

  <p class="p-0 m-0 text-xs">&nbsp;</p>
  <p class="p-0 m-0 text-xs">&nbsp;</p>
  

  <!--Buy price input-->
  <div class="form-control w-full max-xs:mx-0 max-sm:mx-1 sm:mx-2">
    <label class="label" for="article_buy_price_input"><span class="label-text-alt">{% translate 'Buy Price' %}</span><span class="label-text-alt">{% translate 'Increase' %}</span></label>
    <div class="join w-full">
      <input class="input w-full max-xs:mx-0.5 max-sm:mx-1 sm:mx-2" type="text" name="article_buy_price_input" hx-get="{% url 'articles:create_calculator' %}" hx-swap="outerHTML" hx-trigger="keyup changed delay:300ms" hx-target="#article_sell_price_output" hx-include="[name='article_increase_input']" required value="{{article_buy_price_input}}" id="article_buy_price_input" placeholder="{% translate 'Buy Price' %}"/>
      <input class="input w-full max-xs:mx-0.5 max-sm:mx-1 sm:mx-2" type="text" name="article_increase_input" hx-get="{% url 'articles:create_calculator' %}" hx-swap="outerHTML" hx-trigger="keyup changed delay:300ms" hx-target="#article_sell_price_output" hx-include="[name='article_buy_price_input']" required value="{{article_increase_input}}" id="article_increase_input" placeholder="{% translate 'Increase' %}" />
    </div>
  </div>

  <!--Sell price input-->
  {% include 'articles_create_calculator.html' %}

  <!--Submit button-->
  <div class="flex justify-center items-center">
    <button class="btn btn-success btn-block max-xs:mx-0.5 max-sm:mx-1 sm:mx-2" hx-get="{% url 'articles:create_confirm' %}" hx-trigger="click" hx-include="#article_name_input,[name^='category-'],#article_buy_price_input, #article_increase_input, #article_sell_price_input, #article_stock_input" hx-target="#article_create_answer" hx-swap="outerHTML">
      {% translate 'Save' %}
    </button>
  </div>

</div>

