{% if article_list %}
<table class="max-w-[90%] mx-auto table-fixed font-mono  text-red-900  shadow-slate-600 shadow-sm bg-amber-200 border-separate border-2 border-amber-100 rounded-md p-4 m-8">
    <thead class="p-3 m-3">
        <tr class="bg-amber-300">
            <th class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4 max-sm:hidden">Id</th>
            <th class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4 ">Name</th>
            {% for category in categories %}
                <th class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4 max-lg:hidden">{{category.name}}</th>
            {% endfor %}
            <th class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4 max-sm:hidden">Buy price</th>
            <th class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4 max-sm:hidden">Increment</th>
            <th class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4">Sell price</th>
            <th class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4">Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="bg-amber-100">
        {% for article in article_list %}
            <tr>
                
                <td class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4 max-sm:hidden" id="{{article.id}}">{{article.id}}</td>

                <td class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4">{{article.name}}</td>

                <!-- Itera para cada una de las columnas -->
                {% load custom_tags %}

                {% for category in categories %}
                    {% with article.characteristics_id.all|filter_by_category:category as values %}
                        {% if values %}
                            {% for value in values %}
                                <td class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4 tabular-nums slashed-zero max-lg:hidden"">{{ value.name }}</td>
                            {% endfor %}
                        {% else %}
                            <td class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4 tabular-nums slashed-zero max-lg:hidden"">-</td>
                        {% endif %}
                    {% endwith %}
                {% endfor %}

                <td class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4 tabular-nums slashed-zero max-sm:hidden">{{article.buy_price}}</td>
                <td class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4 tabular-nums slashed-zero max-sm:hidden">{{article.increase}}</td>
                <td class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4 tabular-nums slashed-zero">{{article.sell_price}}</td>
                <td class="mx-auto max-sm:px-1 max-md:px-2 max-lg:p-3 lg:p-4 text-center tabular-nums slashed-zero">{{article.stock}}</td>
                <td class="flex mx-2">
                    <form action="{% url 'articles:update' pk=article.id %}" method="GET">
                        <button ion-button icon-only type="submit" class="text-amber-50 rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 mx-2 py-2 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer">
                            <ion-icon name="create-outline"></ion-icon>
                        </button>
                    </form>
                    <form hx-delete="{% url 'articles:delete' pk=article.id %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-swap="outerHTML" hx-target="#articles_search_data" hx-confirm="Are you sure you want to delete the article: {{article.name}}?">
                        {% csrf_token %}
                        <button type="submit" ion-button icon-only class="text-amber-50 rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 py-2 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer">
                            <ion-icon name="trash-outline"></ion-icon>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
