{% if articles_any %}
<table class="mx-auto table-auto font-mono  text-red-900  shadow-slate-600 shadow-sm bg-amber-200 border-separate border-2 border-amber-100 rounded-md p-4 m-8">
    <thead class="p-3 m-3">
        <tr class="bg-amber-300">
            <th class="lg:m-4 md:m-4 ">Id</th>
            <th class="lg:m-4 md:m-4 ">Nombre</th>
            {% for categorie in categories %}
            <th>{{categorie.name}}</th>
            
            {% endfor %}
            <th class="lg:m-4 md:m-4 ">Precio de Compra</th>
            <th class="lg:m-4 md:m-4 ">Incremento</th>
            <th class="lg:m-4 md:m-4 ">Precio de Venta</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="bg-amber-100">
        {% for article in articles_any %}
            <tr>
                
                <td class="lg:m-4 md:m-4 lg:px-12 md:px-12" id="{{article.id}}">{{article.id}}</td>

                <td class="lg:m-4 md:m-4 lg:px-12 md:px-12">{{article.name}}</td>

                <!-- Itera para cada una de las columnas -->
                {% load custom_tags %}

                {% for category in categories %}
                    {% with article.characteristics_id.all|filter_by_category:category as values %}
                        {% if values %}
                            {% for value in values %}
                                <td class="lg:m-4 md:m-4 lg:px-12 md:px-12 tabular-nums slashed-zero">{{ value.name }}</td>
                            {% endfor %}
                        {% else %}
                            <td class="lg:m-4 md:m-4 lg:px-12 md:px-12 tabular-nums slashed-zero">-</td>
                        {% endif %}
                    {% endwith %}
                {% endfor %}

                <td class="lg:m-4 md:m-4 lg:px-12 md:px-12  tabular-nums slashed-zero">{{article.buy_price}}</td>
                <td class="lg:m-4 md:m-4 lg:px-12 md:px-12  tabular-nums slashed-zero">{{article.increase}}</td>
                <td class="lg:m-4 md:m-4 lg:px-12 md:px-12  tabular-nums slashed-zero">{{article.sell_price}}</td>
                <td class="flex mx-2">
                    <form action="{% url 'article_update' id=article.id %}" method="GET">
                        <button ion-button icon-only type="submit">
                            <ion-icon name="create-outline" 
                            
                            class="text-amber-50 rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 mx-2 py-2 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer"
                            ></ion-icon>
                        </button>
                            
                    </form>
                    <form hx-delete="{% url 'articles_delete' id=article.id %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-swap="outerHTML" hx-target="#search_answer_data" hx-confirm="¿Está seguro de que desea eliminar el articulo: {{article.article_name}}?">
                        {% csrf_token %}
                        <button type="submit" ion-button icon-only >
                            <ion-icon name="trash-outline" 
                                
                            class="text-amber-50 rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 py-2 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer"
                            ></ion-icon>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
