<div class="relative flex min-h-screen flex-col justify-center overflow-hidden py-2 sm:py-12">
    {% if colors %}
    <div class="mx-auto max-w-md">
        <table class="table-auto font-mono  text-red-900  shadow-slate-600 shadow-md bg-amber-200 border-separate border-2 border-amber-100 rounded-md p-4 m-8 transition duration-300 hover:shadow-slate-600 hover:shadow-sm">
            <thead class="p-3 m-3">
                <tr class="bg-amber-300">
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for color in  colors %}
                    <tr class="bg-amber-100">
                        <td>{{color.color_name}}</td>
                        <td>                                
                            <form action="{% url 'color_update' id=color.id %}" method="GET">
                                <button ion-button icon-only type="submit">
                                    <ion-icon name="create-outline" 
                                    
                                    class="text-amber-50 rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 py-2 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer"
                                    ></ion-icon>
                                </button>
                                    
                            </form>
                            <form hx-delete="{% url 'color_delete' id=color.id %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-swap="outerHTML" hx-target="#colors_table" hx-confirm="¿Está seguro de que desea eliminar el color: {{color.color_name}}?">
                                {% csrf_token %}
                                <button type="submit" ion-button icon-only >
                                    <ion-icon name="trash-outline" 
                                        
                                    class="text-amber-50 rounded-tl-lg rounded-br-lg bg-gradient-to-tr from-red-900 to-red-700 px-4 py-2 shadow-md shadow-slate-800 transition hover:-translate-y-0.5 duration-300 hover:shadow-xl hover:shadow-slate-400 cursor-pointer"
                                    ></ion-icon>
                                </button>
                            </form> 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    
</div>
