{% load i18n %}
<!-- https://docs.djangoproject.com/en/4.2/topics/i18n/translation/#miscellaneous -->
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <div class="join ">
        <select class="select select-bordered join-item" name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input name="next" type="hidden" value="{{ 'core:index' }}">
        <input class="btn join-item hover:bg-base-100" type="submit" value="{% translate 'Go' %}">
    </div>
</form>