{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
    {% trans "Confirm Email Address" %}
{% endblock head_title %}

{% block content %}

    {% trans "Confirm Email Address" as confirmemailaddress %}

    {% title text=confirmemailaddress %}

    <div class="py-10">
        {% #block_card class="h-64" %}
            {% if confirmation %}
                {% user_display confirmation.email_address.user as user_display %}
                {% if can_confirm %}
                    <p>
                        {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}
                    </p>
                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <button type="submit">{% trans 'Confirm' %}</button>
                    </form>
                {% else %}
                    <p>
                        {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
                    </p>
                {% endif %}
            {% else %}
                {% url 'account_email' as email_url %}
                <p>
                    {% blocktrans %}This email confirmation link expired or is invalid. Please <a class="btn btn-sm" href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
                </p>
            {% endif %}
        {% /block_card %}
    </div>
{% endblock content %}