{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
    {% trans "Email Address" %}
{% endblock head_title %}

{% block content %}
    {% trans "Email Address" as emailaddress %}

    {% title text=emailaddress %}
    <div class="py-10">
        {% #block_card %}
            {% if emailaddresses %}

                {% if current_emailaddress %}
                    <p>
                        {% trans 'The following email address is associated with your account:' %} <a class="btn btn-sm text-sm font-normal lowercase" href="mailto:{{ current_emailaddress.email }}">{{ current_emailaddress.email }}</a>
                    </p>
                {% endif %}
                {% if new_emailaddress %}
                    <p>
                        {% trans 'Your email address is still pending verification:' %} <a class="btn btn-sm text-sm font-normal lowercase" href="mailto:{{ new_emailaddress.email }}">{{ new_emailaddress.email }}</a>
                    </p>
                    <form method="post" action="{% url 'account_email' %}">
                        {% csrf_token %}
                        <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
                        <button class="btn" type="submit" name="action_send">{% trans 'Re-send Verification' %}</button>
                    </form>
                {% endif %}
            {% else %}
                {% include "account/snippets/warn_no_email.html" %}
            {% endif %}
        {% /block_card %}
    </div>
    
    {% trans "Change Email Address" as changeemailaddress %}

    {% title text=changeemailaddress %}
    <div class="py-10">
        {% #block_card class="h-32" %}
            <form method="post" action="{% url 'account_email' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-ghost" name="action_add" type="submit">{% trans "Change Email" %}</button>
            </form>
        {% #block_card %}
    </div>

{% endblock content %}
