{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
    {% trans "Change Password" as changepassword %}
    {% title text=changepassword %}
    <section class="flex justify-center items-center">
        {% #block_center %}
            {% #block_card class="h-80 py-6 px-1" %}
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}

                    <div class="form-control py-0">
                        <label class="input-group input-group-sm">
                            <span class="w-full">{{ form.oldpassword.label }}</span>
                            <input id="{{ form.oldpassword.id_for_label }}"
                                type="password"
                                name="oldpassword"
                                autocomplete="current-password"
                                placeholder="{{ form.oldpassword.label }}"
                                class="input input-bordered input-sm" required/>
                        </label>
                    </div>

                    {% form_error errors=form.password.errors %}

                    <div class="form-control py-0">
                        <label class="input-group input-group-sm">
                            <span class="w-full">{{ form.password1.label }}</span>
                            <input id="{{ form.password1.id_for_label }}"
                                type="password"
                                name="password1"
                                autocomplete="current-password"
                                placeholder="{{ form.password1.label }}"
                                class="input input-bordered input-sm" />
                        </label>
                    </div>

                    {% form_error errors=form.password1.errors %}

                    <div class="form-control py-0">
                        <label class="input-group input-group-sm">
                            <span class="w-full">{{ form.password2.label }}</span>
                            <input id="{{ form.password2.id_for_label }}"
                                type="password"
                                name="password2"
                                autocomplete="current-password"
                                placeholder="{{ form.password2.label }}"
                                class="input input-bordered input-sm" />
                        </label>
                    </div>

                    {% form_error errors=form.password2.errors %}

                    <div class="flex items-center justify-end">
                        <input class="btn btn-ghost" type="submit" value="{% trans "Change Password" %}">
                    </div>

                </form>
            {% /block_card %}
        {% /block_center %}
    </section>
{% endblock content %}
