{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
    
    {% trans "Password Reset" as passreset%}
    {% title text=passreset %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <section class="flex justify-center items-center">
        {% #block_center %}
            {% #block_card class="h-96 py-10" %}
                <p class="text-left px-8">
                    {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
                </p>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset pt-8">
                    {% csrf_token %}
                    {% form_field label=form.email.label id=form.email.id_for_label name="email" autocomplete="email" type="text" %}
                    {% form_error errors=form.email.errors %}

                    <div class="flex items-center justify-center py-4">
                        <input class="btn btn-sm " type="submit" value="{% trans 'Reset My Password' %}" />
                    </div>

                </form>
                <p class="text-left px-8">
                    {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                </p>
            {% /block_card %}
        {% /block_center %}
    </section>

{% endblock content %}
