/* .appear-vanish {
  animation: appearAndVanish 4s;
  animation-fill-mode: forwards;
}

@keyframes appearAndVanish {
  0% {
    opacity: 0;
    height: 0%;
  }
  25% {
    opacity: 1;
    height: 100%;
  }
  75% {
    opacity: 1;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
} */
ion-icon {
  pointer-events: none;
}
.vanish {
  animation: fadeout 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}
.appear {
  animation: fadein 1s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.overflow-hidden {
  overflow: hidden;
}

.overflow-wrap-break {
  overflow-wrap: break-word;
}

ion-icon {
  font-size: 16px;
}

/* Estilos para la mitad inferior de elementos con la clase sombreado-inferior-img-menu */
.sombreado-inferior-img-menu {
  position: relative;
  overflow: hidden;
}

.sombreado-inferior-img-menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* Ajusta la altura según sea necesario */
  background-color: transparent; /* Cambia el color de fondo según sea necesario */
  border: 2px solid currentColor; /* Cambia currentColor al color de borde que desees */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Cambia los valores de sombra según sea necesario */
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}