{% extends 'base_home.html' %}
{% load i18n %}
{% load static %}
{% block title_section %}
    <title>{% translate 'Create Customer' %} - Canario Regionales</title>
{% endblock title_section %}

{% block title_section_content_upper %}
    <h1 class="text-3xl text-black pb-6">{% translate 'Search Customer:' %}</h1>
{% endblock title_section_content_upper %}
{% block section_content_upper %}
    {% include 'customers_search_header.html'%}
{% endblock section_content_upper %}

{% block title_section_content_under %}
    <div class="text-xl pb-3 flex items-center justify-between">
        <!-- Latest Reports -->
        <div class="text-xl pb-3 flex items-center">
            <i class="fas fa-list mr-3"></i>
            <span>{% translate 'Update Customer Section' %}</span>
        </div>
    </div>
{% endblock title_section_content_under %}
{% block section_content_under %}
    {% translate 'Update Customer' as title %}
    <div class="mx-auto max-w-md">
        {% var id=object.id %}
        {% var url="customers:update" %}
        {% var object_type="customer" %}
        {% var form=form %}
        {% var title=title %}
        {% var request=request %}
        {% var action="update" %}
        {% include 'form.html' %}
    </div>
{% endblock section_content_under %}
