{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}
    <title>Settings - El Canario Regionales</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;

        $(document).ready(function() {
            $("#profile-picture-dropzone").dropzone({
                url: "{% url 'settings:upload_profile_picture' %}",
                maxFilesize: 200, // Tamaño máximo en MB
                paramName: "profile_picture", // Nombre del campo en el formulario
                acceptedFiles: "image/*", // Acepta solo archivos de imagen
                init: function() {
                    this.on("success", function(file, response) {
                        // Lógica después de cargar la imagen
                    });
                }
            });
        });
    </script> -->
{% endblock title %}
{% block content %}
    {% include 'menu.html' %}
        <h1>ESTAS EN SETTINGS</h1>
        <div class="h-screen font-sans text-gray-900 border-box z-3">
            <div class="flex justify-center w-full mx-auto sm:max-w-lg">
                <div class="flex flex-col items-center justify-center w-full h-auto my-20 bg-amber-50 sm:w-3/4 sm:rounded-lg sm:shadow-xl">
                    <div class="mt-10 mb-10 text-center">
                        <h2 class="text-2xl font-semibold mb-2">Upload your user picture</h2>
                        <p class="text-xs text-gray-500">File should be of format .png</p>
                    </div>

                    {% include 'upload_image_profile_form.html' %}

                </div>
            </div>
        </div>    
 
    {% include 'footer.html' %} 
    <script>
        document.getElementById('profile_picture').addEventListener('change', function () {
            const fileInput = this;
            const imagePreview = document.getElementById('image-preview');
        
            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();
        
                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                };
        
                reader.readAsDataURL(fileInput.files[0]);
            } else {
                imagePreview.style.display = 'none';
            }
        });
    </script>
{% endblock content %}
