{% extends 'base_home.html' %}
{% load i18n %}
{% block title_section %}
    <title>{% translate 'My Account' %} - Canario Regionales</title>
{% endblock title_section %}
{% block title_section_content_upper %}
    <h1 class="pb-6 text-3xl text-black">{% translate 'My Account' %}:</h1>
{% endblock title_section_content_upper %}
{% block section_content_upper %}
{% endblock section_content_upper %}
{% block title_section_content_under %}
<div class="flex items-center justify-between pb-3 text-xl">
    <!-- Latest Reports -->
    <div class="flex items-center pb-3 text-xl">
        <i class="mr-3 fas fa-list"></i>
        <span>{% translate 'My Account' %}</span>
    </div>
    <div class="text-base flex gap-2">
    </div>
</div>
{% endblock title_section_content_under %}

{% block section_content_under %}
    {% include 'languages.html' %}
{% endblock section_content_under %}

